[2014-01-17 18:43] sclm opened #1 "Improve instructions for running tests"
We should add a note about configuring `test_vimeo.py`.

There are several settings in there that need to be configured, and some of them aren't immediately obvious (in that some have a "YOUR XX HERE" but some have fixed values).

Add some comments to the section and link to it in the readme.

[2014-02-01 21:09] Dashron opened #2 "Explicitly define a user agent string which contains the name of this project and a version number"

[2014-02-28 19:16] #2 closed, assigned to sclm

[2014-03-06 18:59] sclm opened #3 "Improve modifying retrieved resources"
When a user `GET`s a resource and wants to modify it on the server, they currently have to do some interesting parsing to get a proper handle for the `PATCH` or `PUT` request.

This should be improved so that there is a clean method to go from the existing object or URI key to a handle that can have .patch() or .put() called on it.

The existing workaround can be described for updating a user's vi

[2014-05-01 00:42] systmkor opened #4 "Editing video tags, title, description"
1. How do you get SCOPE_EDIT permission.
2. What functions do you call to update a video's tags

Example

[code]

[2014-05-02 15:04] sclm opened #5 "Add bodys to PUT calls"
Currently a puttable resource does not allow for you to provide a body.  This should be corrected so that cases that require this can be changed.

[2014-05-03 23:54] systmkor opened #6 "Redirect URI"
I am writing a command line localhost utility for interacting with vimeo. I was wondering what is the proper/easiest way to handle the URI redirect for authenticating with vimeo and for other people to use the command line utility.

[2014-05-06 07:06] SR-- opened #7 "Adding tags to album videos"
How can I add a tag to all videos in an album?

[2014-05-06 17:23] #7 closed, assigned to nobody

[2014-05-06 17:24] #6 closed, assigned to nobody

[2014-05-06 17:24] #4 closed, assigned to sclm

[2014-06-19 09:51] natfarleydev opened #11 ".me.videos() only produces 24 videos"
At the moment when I initialise my client

[code]

The output of that command contains:

[code]

so it looks like it's giving the information in pages (which makes sense with a web page, just not in python). This can be fixed by setting the per_page variable to something ridiculously high (say 9001).

TL;DR It would be great if .me.videos() produced a list of all videos from a user.

[2014-06-19 15:33] #11 closed, assigned to nobody

[2014-06-19 15:36] #5 closed, assigned to sclm

[2014-06-26 12:45] natfarleydev opened #13 "Tags with spaces in cause HTTP599 [Errno 54]"
Currently, tags with spaces in are not put onto Vimeo, but you can put tags with spaces into Vimeo.com. Tags without spaces work fine. Below is what happens,

[code]

[2014-06-26 14:41] ghost opened #14 "A real urgent need of documentation"
Hi...I recently used to this Python wrapper for the Vimeo API. There is apparently negligible documentation. I shall be glad to take this up and work on this and will be grateful for assistance and pointers.

[2014-07-31 19:39] luwes opened #17 "Speeding up API requests"
http://vimeoapi.tumblr.com/post/80815606701
Can we use this technique with this library?

[2014-08-05 18:07] Dashron opened #22 "Auth example should properly display OAuth2 failures"

[2014-08-07 17:12] #17 closed, assigned to greedo

[2014-08-26 06:51] esseeayen opened #26 "Large files cause Tornado HTTP 599: Timeout"
It seems that the upload uses the default HTTP timeout for Tornado and therefore causes a timeout after 20 seconds.

[code]

[2014-08-27 12:52] dsever opened #27 "request subinformation for particular video"
Hi,

I have small problem, (maybe trivial for you).
I'm trying to get pictures of given video so handler would be
GEThttps://api.vimeo.com/videos/{video_id}/pictures , but how I can build requst using vimeo.py

So I need somenting like
v_client.videos.video_id.pictures, were video_id is variable.

Please can you provide me some example

Thanks

[2014-09-02 13:57] #27 closed, assigned to nobody

[2014-09-05 09:22] orestis opened #30 "Activating pictures does not work"
Hello, I'm having trouble using the Vimeo API using the vimeo.py official client (commit 0717e9678f86632a5da0d5f740cdfa9e0a3644b6) to upload and activate the picture. It seems that while the picture is uploaded successfully, it never gets activated, even though the API responds with no error. Activating the picture manually from the settings page works.

Here's a sample output:

[code]

[2014-09-05 19:21] radoslawoska opened #31 "replace the file"
Hi. I checked the code but cannot find the answer.
Is it possible to replace the video file?
If yes, please provide an example.

thank you very much
Radek

[2014-09-09 20:10] Dashron opened #33 "Add support for replace source files"
https://developer.vimeo.com/api/endpoints/videos#/{video_id}/files

[2014-09-12 15:03] #30 closed, assigned to nobody

[2014-09-15 20:57] #1 closed, assigned to nobody

[2014-09-15 20:58] #3 closed, assigned to nobody

[2014-09-19 22:06] #33 closed, assigned to greedo

[2014-09-19 22:10] #31 closed, assigned to nobody

[2014-09-19 22:11] #14 closed, assigned to nobody

[2014-09-22 14:00] radoslawoska opened #35 "replace function "AssertionError: Failed to create an upload ticket""
Hi. While replacing the file i'm getting:

Traceback (most recent call last):
  File "replace.py", line 24, in <module>
    upgrade_to_1080=False)

 File "upload.py", line 30, in replace
    self._perform_upload(filename, ticket)
  File "upload.py", line 35, in _perform_upload
    assert ticket.status_code == 201, "Failed to create an upload ticket"
AssertionError: Failed to create an upload ticke

[2014-09-22 14:07] greedo opened #36 "Add support for uploading Text Tracks"
We need to add support for uploading Text Tracks.

[2014-09-23 15:25] #35 closed, assigned to nobody

[2014-09-23 15:45] #26 closed, assigned to nobody

[2014-09-23 16:19] #13 closed, assigned to sclm

[2014-09-23 19:17] radoslawoska opened #37 "Replacing the file and the documentation"
this part of readme file:

video_uri = v.replace(
    video_uri='video_uri',
    filename='your-filename.mp4',
    upgrade_to_1080=False)

may suggest that video_uri is expected after successful upload. In fact it returns None.

[2014-09-23 20:50] #37 closed, assigned to nobody

[2014-09-26 17:33] #36 closed, assigned to nobody

[2014-09-26 21:45] radoslawoska opened #40 "/me/videos and the data dictionary"
Hi. Could you please tell me why the data dictionary is not respected (v variable returns default values like 25 videos per page and so on)

v = vimeo.get('/me/videos', data = { 'per_page':'1', 'query':'Untitled', 'sort':'date' , 'direction':'desc'})

thank you
Radek

[2014-09-29 12:52] danielward opened #41 "Installing via pip replaces recent version of requests with 0.13.1"
This may be related to a dependancy, however reporting in case this can be controlled.

I installed the Vimeo SDK via pip which appeared to complete successfully, however I quickly started seeing SSL issues from requests with another app in my project. I quickly discovered that the recent version of requests had been removed and replaced with 0.13.1, which was causing all kinds of issues. I've sin

[2014-10-01 20:01] rafaponieman opened #42 "Error with get method timeout"
The default is a list (1, 30), however, it must be an integer or float. This raises an exception in python requests. A temporary workaround is to always pass the timeout parameter when calling get.

[2014-10-01 20:23] #42 closed, assigned to nobody

[2014-10-01 20:32] #40 closed, assigned to nobody

[2014-10-01 20:34] #41 closed, assigned to nobody

[2014-10-05 16:28] natfarleydev opened #43 "README example fails with default installation"
After installing the vimeo library with `sudo ./setup.py install`, the example fails as:

[code]

My OS is Mac OS X Mavericks (latest update as of 2014-10-05)

[2014-10-07 16:39] #43 closed, assigned to nobody

[2014-11-05 22:53] ghost opened #45 "Support Python 3.x"
pip install git+https://github.com/vimeo/vimeo.py

[code]

[2014-11-14 16:02] #45 closed, assigned to nobody

[2014-11-15 05:09] lorddaedra opened #48 "ConnectionError: ('Connection aborted.', timeout('_ssl.c:582: The handshake operation timed out',))"
I use Python 3.4 with Django 1.7.

What I tried to do - get plays stats for all videos on page in admin:

[code]

This code works on my local Mac (but 40 seconds per page load!!), but do not work on server (deploy Django using uWSGI)...

I got 500 error

requests.adapters in send
ConnectionError: ('Connection aborted.', timeout('_ssl.c:582: The handshake operation timed out',))

[code]

I'm not su

[2014-11-18 08:28] KlausStangl opened #49 "UnicodeDecodeError: 'charmap' codec can't decode byte"
Hi!
Just tried to use this library to automatically upload my video files. But I get the following error:

File is a standard MP4 created with After Effects. Tried it with several different MP4 with same result.
Thanks for your help,
Klaus

[2014-12-12 15:52] #49 closed, assigned to nobody

[2014-12-19 21:22] boazin opened #50 "invalid syntax"
When trying to `sudo python setup.py install`
I'm getting a:
SyntaxError: ('invalid syntax', ('/usr/lib/python2.6/site-packages/PyVimeo-0.2.0-py2.6.egg/vimeo/client.py', 17, 27, "    HTTP_METHODS = {'head', 'get', 'post', 'put', 'patch', 'options', 'delete'}\n"))

env:
Python 2.6.6 (r266:84292, Jan 22 2014, 09:42:36)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)] on linux2

[2014-12-23 15:13] #50 closed, assigned to nobody

[2015-01-14 13:14] emptygalaxy opened #51 "Setting title or permissions"
Can anyone help me do more with this API than uploading a file?
It seems like I can only upload a file with this API and not even change the name of the video, as it gets uploaded as "Untitled".
If it's only that, this would render this API not very useful.

[2015-01-15 21:14] greedo commented on #51
You can make GET, POST, PUT, PATCH, DELETE requests using our [api endpoints](https://developer.vimeo.com/api/endpoints) and some JSON data

Example: https://gist.github.com/greedo/4e92163a7a1a4f496cf6

[2015-01-15 21:14] #51 closed

[2015-01-20 10:25] Gwildor opened #53 "Upload progress comparison won't work"
In the `_perform_upload` method, attempts are made to upload a chunk of the video (or the complete video in one go, I'm not quite sure about that), and a request is made to check the progress. The goal is to continue with other chunks if something happened, like a timeout, but the check to see if it needs to do a new attempt can't possibly work because it's comparing two different types.

See http

[2015-01-20 15:35] #53 closed

[2015-01-20 15:36] sclm commented on #53
Good catch @Gwildor!  I've added that to the function that checks the progress and it should be an int-int comparision now.

Feel free to check it out and make sure it's working for you and your use case.

[2015-01-20 15:42] #48 closed

[2015-01-20 16:18] #22 closed

[2015-01-25 03:40] samcarecho opened #54 "ReadTimeout while trying to upload captions."
While trying to upload captions, I keep getting ReadTimeout exceptions.
Can someone shade a light on how to solve this?

Here is my upload function:

    def upload_vimeo_track(uri, lang, track_file):
        v = vimeo.VimeoClient(
            token="removed",
            key="removed",
            secret="removed")

        track = "./caption_files/%s" % track_file

        while True:

[2015-01-26 16:28] greedo commented on #54
@samcarecho this error is coming from `urllib3` and as you noticed we are not re-catching and wrapping the error in our own library.

If you contact us directly through [vimeo.com/help/contact](vimeo.com/help/contact) and share your exact request with [runscope](https://www.runscope.com/docs/sharing) I may be able to help you further.

[2015-01-27 14:13] samcarecho commented on #54
Sorry @greedo I will not sign-up of a paid third party service, even though it offers a 30 day free trial and spend time going through it's documentation just for your convenience. I'm really busy. I would ratter just share the requests logs in a plain txt file.

If I can't get help or you can't help me I will be forced to strongly advise the non-profit to which I'm working as a volunteer to avoid

[2015-01-27 17:08] Dashron commented on #54
The pricing plans on runscope.com are new. We were not aware of the change.

We tend to send users through runscope because it provides 2 powerful features.
1. It's an http proxy (like wireshark or charles), so we get the exact values your code sends and receives instead of example code which may work different from system to system.
2. The requests are sharable, editable and repeatable.

The vast

[2015-01-27 17:32] Dashron commented on #54
After some more review, Runscope is still 100% free for a single user, making up to 10k requests per month. You can find that on their pricing and plans page: https://www.runscope.com/pricing-and-plans.

It's definitely confusing, but they are by far the best http proxy I have ever used. I recommend you give them a shot, but again we are more than happy  to receive text logs from some other tool.

[2015-01-28 03:44] samcarecho commented on #54
Thanks Aaron for your attention.

When a visited the Runscope website, the only option available were the 30
day free trial, a per this link:
https://www.runscope.com/signup

Please. don't take me wrong, Runscope seems to be an amazing service, I
just do not have, right now, the time to go through it's documentation.
As soon as I get some free time I will take a deep look on their
documentation, a

[2015-01-28 05:02] greedo commented on #54
@samcarecho you can send it to me - joec@vimeo.com

I'll look into it.

[2015-01-28 06:15] samcarecho commented on #54
Thank you @greedo, I will send you the dump.

[2015-02-02 15:23] greedo commented on #54
@samcarecho we made some changes on our captions backend that should solve this problem. It might be best to build in some retry logic by catching that `urllib3` error.

Feel free to reopen this issue again if you have problems again.

[2015-02-02 15:23] #54 closed

[2015-02-02 16:12] samcarecho commented on #54
@greedo I will test it again  as soon as possible.
Thanks

[2015-02-20 22:43] justinruggles opened #55 "authorization code grant request does not set "state""
The API documentation at https://developer.vimeo.com/api/authentication#generate-redirect says that the "state" param is required and should be validated by the client, but I don't see where the Python library is setting it or validating it.

[2015-02-20 22:44] justinruggles commented on #55
Sorry, I suppose validation would be left up to the user, but I don't see the option to set it.

[2015-04-20 04:38] hate5six opened #57 "PATCH request failure"
Are there any examples of a patch request in practice? I may have the incorrect syntax but when I try something like (for some video_id of mine): v.patch('https://api.vimeo.com/videos/video_id', {"data":{"privacy":{"view":"anybody"}}}) I get a 200 response but it doesn't actually change the privacy setting. Is this a bug or am I doing something wrong?

[2015-04-20 14:04] Dashron commented on #57
Try dropping the data key, and just sending the request body directly

`{"privacy":{"view":"anybody"}}`

[2015-04-20 15:24] hate5six commented on #57
Same issue. I get a 200 but the privacy doesn't change.

[2015-04-21 14:20] greedo commented on #57
@hate5six the Vimeo library uses `requests` under the hood. So the correct way to send a requests with query parameters shown in this [example](http://docs.python-requests.org/en/latest/user/quickstart/#passing-parameters-in-urls) using our library would be:

[code]

[2015-04-21 14:20] #57 closed

[2015-04-21 14:26] greedo commented on #55
@justinruggles You could set it [here](https://github.com/vimeo/vimeo.py/blob/master/vimeo/auth/authorization_code.py#L28)

[2015-04-21 15:18] Dashron commented on #55
We should add it as a parameter to auth_url

[2015-04-21 18:28] #55 closed

[2015-05-20 07:35] radavis opened #60 "assert ticket.status_code == 201, "Failed to create an upload ticket""
I'm attempting to upload a video to my Vimeo account. I have created an access token from the Vimeo API page.

[code]

[code]

[code]

[2015-05-21 13:56] radavis commented on #60
This issue was resolved when I updated my requirements.txt to `PyVimeo>=0.2.1`, and ran  `pip install -r requirements.txt --upgrade`

PyVimeo was updated to 0.3.0.

[2015-05-21 13:56] #60 closed

[2015-06-12 06:33] kwikadi opened #61 "AssertionError: Failed to create an upload ticket"
[code]

Running this code gives me a traceback:

[code]

I'm using Python 3.4 on Ubuntu 14.04. PyVimeo version 0.3.0

[2015-06-12 14:47] greedo commented on #61
@kwikadi I could not reproduce this error using your environment settings. Could you verify that your token, key and secret are correct?

[2015-06-13 04:25] kwikadi commented on #61
I figured that was what
[code]
was for, but I tried
[code]
too, and it returns info about my account, so I guess that is ok.
If any confusion still persists, I used the
`
Client Identifier
`
`
Client Secrets
`
and
`
Your new Access token
`
with public private delete upload scopes for the key, secret and token respectively.

[2015-06-17 14:21] greedo commented on #61
@kwikadi sounds like it is not a problem with authentication. Since I will need to dig in a bit further, I would request that you contact us via our help forum.

If you contact us directly through [vimeo.com/help/contact](https://vimeo.com/help/contact) and share your exact request with [runscope](https://www.runscope.com/docs/sharing) I may be able to help you further. Runscope is 100% free for a

[2015-06-23 23:47] thornomad opened #62 "name 'basestring' is not defined :: python3"
Hi there - thanks for this!

There is an error in Python3 (works in Python2) triggered with `v.upload_picture`:

    File "/usr/local/lib/python3.4/site-packages/vimeo/upload.py", line 105, in upload_picture
        if isinstance(obj, basestring):
    NameError: name 'basestring' is not defined

I think this can be fixed fairly easily with a `try/except` statement upon import ... is it something y

[2015-06-25 15:53] Dashron commented on #62
Thanks for the info! Sending it off to one of our python devs.

[2015-06-25 22:13] #62 closed

[2015-06-27 11:46] nickedes opened #64 "AssertionError: Failed to create an upload ticket"
I have pyvimeo 0.3 as you can see here in `pip freeze`
[code]
but when i tried to upload a video I got this error.
[code]

[2015-06-28 16:12] nickedes commented on #64
@greedo when will dis be solved ?

[2015-06-30 14:24] greedo commented on #64
hi @nickedes could you tell me more information about your specific environment.
Python version, OS

Thanks

[2015-06-30 15:18] nickedes commented on #64
@greedo `Python 2.7.10` and Windows 8

[2015-07-01 16:31] greedo commented on #64
@nickedes
I cannot replicate this error using your environment.

you should insert
[code]
at https://github.com/vimeo/vimeo.py/blob/master/vimeo/upload.py#L41

Let me know what you get so I can debug further. You should also check you client `key`, `secret` and `token` and ensure they are correct.

[2015-07-02 08:48] nickedes commented on #64
I did what you asked to:
[code]

It shows `app is not allowed to perform that action` :sob:
You can see the code [here](https://gist.github.com/nickedes/7029827ff6ec690744b0)

The client `key`, `secret` and `token` are correct ,because I am able to print `about_me`. [See](https://gist.github.com/nickedes/7029827ff6ec690744b0#file-vimeo_upload_try-py-L12)

[2015-07-02 15:17] greedo commented on #64
@nickedes

You need to request upload access for your app. You can do this from your app's settings page.

[2015-07-02 15:17] #64 closed

[2015-07-02 16:18] nickedes commented on #64
wait. what?
Can you explain @greedo

[2015-07-02 16:41] Dashron commented on #64
There's more detailed steps at the top of our new upload documentation: https://developer.vimeo.com/api/upload/videos

[2015-07-03 04:34] nickedes commented on #64
:+1:  Requested upload access!
Hopefully will get soon! :stuck_out_tongue_winking_eye: and then I will be back @greedo :speak_no_evil:

[2015-07-06 13:30] greedo commented on #61
@kwikadi by chance did you forget to request upload access?

If so, there's more detailed steps at the top of our new upload documentation: https://developer.vimeo.com/api/upload/videos

[2015-07-06 16:28] kwikadi commented on #61
Oh, I'm sorry, I totally forgot to reply to this. I got an email shortly after saying that access to my app was denied (which is bizarre, but not really something to do with the python API).

Thanks for the help!

[2015-07-06 16:28] #61 closed

[2015-07-09 14:09] boazin opened #65 "Crash when not specifying timeout"
Not sure what was the intention of `kwargs['timeout'] = kwargs.get('timeout', (1, 30))`
(ln 66 client.py)

But if I don't specify timeout in the vimeo_obj.get(url)

I'm getting

[code]

Maybe it worked with an older version of requests?

[2015-07-09 14:59] sclm commented on #65
Yeah.  I think your hunch is right.  When it was written, you could provide a tuple for the connection and full request timeouts.  It seems that may have changed, but it requires a bit more investigation.

[2015-07-20 20:02] greedo commented on #65
@boazin I am having trouble reproducing this error. Looking at the [Request docs](http://docs.python-requests.org/en/latest/user/advanced/#timeouts) it seems `timeout=(1, 30)` is still the way to specify this.Could you attach an gist of your code and we'll figure it out.

[2015-07-20 21:59] luis-kaufmann-silva opened #66 "Fail to install by pip"
I'm running the command below on a vagrant machine (with debian powered)
[code]
But, if i run this command:
[code]
it's works fine.

[2015-07-21 07:22] boazin commented on #65
Well, I think it is a question of versions. Run `pip freeze` to see what you have. (mine is below)
The code is dead simple:
[code]

[2015-07-22 19:11] greedo commented on #65
@boazin Unfortunately this error is coming deep from the bowels of `urllib3`. Requests changed in [version 2.4](https://github.com/kennethreitz/requests/blob/master/HISTORY.rst#240-2014-08-29) to support connect timeouts. If you upgrade your version of requests to at least 2.4.0 this issue will be fixed.

[2015-07-22 19:11] #65 closed

[2015-07-22 19:15] boazin commented on #65
OK. Cool. That's weird because I'm using a docker image and building quite often (so it gets pip installed) I will look into the versions.
Thanks!

[2015-07-22 19:42] greedo commented on #66
@luis-kaufmann-silva I suspect their may be an issue with the version of `pip` you are using.

If you do
[code]
Pip will give you a bit more information about exactly what it is doing. You would see any pip errors in the more verbose output. Let you know what you get from the verbose output.

[2015-07-23 12:32] luis-kaufmann-silva commented on #66
A bit more of logs:

[code]

See the line "Downloading PyVimeo-0.3.0.macosx-10.10-intel.tar.gz", i'm using a debian based machine. It's right?

Thanks in advance ;)

[2015-07-23 18:45] greedo commented on #66
@luis-kaufmann-silva looking at the way pip is resolving links it is skipping .whl

[code]

Meaning you most likely do not have [wheel](https://pypi.python.org/pypi/wheel) installed. Pip is attempting to install `PyVimeo-0.3.0.macosx-10.10-intel.tar.gz` which you do not want. You will need to install wheel and then pip will install the wheel version of PyVimeo by default, which

- Avoids setup.py

[2015-07-23 20:00] luis-kaufmann-silva commented on #66
Upgrading setuptools the problem is solved. This link helped me http://stackoverflow.com/questions/20950295/pip-install-error-unknown-archive-format-whl

For me, the problem has been solved. Thanks you very much for your help ;)

[2015-07-23 21:44] greedo commented on #66
Excellent!

[2015-07-23 21:44] #66 closed

[2015-08-11 19:48] BenderCy commented on #51
I am doing a:

video_uri = v.upload('video.mpg')
v.patch(video_uri, data={'name':"myname"})

and I am getting a 403. I can't seem to get this to work at all and I've tried several different ways without success.

[2015-08-14 09:55] Geekathon opened #68 "Can we upload using URL"
Can i just edit the upload function and change the "type: streaming" to "type:pull"  and do upload directly from URL ?

[2015-08-14 11:35] Gwildor opened #69 "Proper exceptions"
It would be nice to have real exceptions I can catch, instead of asserts. For instance, when uploading a video, something like `UploadTicketCreationFailure` and `VideoCreationFailure` exceptions, with the information from the server. The server returns a proper error ("Your video file is not valid..." in mine case, because I was testing how it responds with non-video files), but those messages are

[2015-08-14 14:34] Dashron commented on #68
Pull uploads are a single simple API call, and won't need the extra logic of the upload method. All HTTP methods are functions on your client (and map one to one with the [request](http://www.python-requests.org/en/latest/) library). So the following example should work:

[code]

[2015-08-15 10:06] donaldharvey opened #70 "Upload any file-like object"
It would be nice to be able to pass in a file object rather than a file name to the various upload functions, I'm having to generating temporary files for my use-case and it's pretty kludgy.

Happy to write a patch if you think this would be useful!

[2015-08-17 15:32] Dashron commented on #70
I definitely think it's useful, and your example is a great use case. Submit a PR, fill out our CLA: developer.vimeo.com/cla and I'll merge the code!

[2015-09-21 23:09] urosjarc opened #72 "JSONDecodeError"
[code]

Makes...
[code]

[2015-09-22 07:53] #72 closed

[2015-09-22 08:54] urosjarc opened #73 "PIP package is not updated with latest github repo!!!"
Pls update pip package because its depricated... if I use PIP package for my application it would not work... ever time server response 404. But if I use github package it works.

[2015-09-22 09:20] urosjarc opened #74 "Response headers don't contain X-RateLimit-*"
How can I get response headers:
* X-RateLimit-Limit
* X-RateLimit-Remaining
* X-RateLimit-Reset

I get only this ones:
[code]

[2015-09-28 18:45] Dashron commented on #73
PyVimeo was last updated sept 16th: https://pypi.python.org/pypi/PyVimeo to the most recent version. Does this not match your install?.

[2015-09-28 18:46] Dashron commented on #74
This is not currently exposed via our headers. It's coming soon!

[2015-09-28 20:58] urosjarc commented on #74
When It will pls send updates here...

[2015-10-01 14:37] greedo commented on #69
@Gwildor would you mind pulling in the latest package from Github and letting me know if the new exceptions in #75 look good to you

[2015-10-01 14:38] #68 closed

[2015-10-14 08:39] harishtm commented on #60
Hi,

I am getting an error
about_me = v.get('/me')
about_me.json()

JSONDecodeError at /viedo-upload/

Expecting value: line 1 column 1 (char 0)

Could any one help

[2015-10-14 08:39] harishtm commented on #61
Hi,

I am getting an error
about_me = v.get('/me')
about_me.json()

JSONDecodeError at /viedo-upload/

Expecting value: line 1 column 1 (char 0)

Could any one help

[2015-10-19 14:54] #73 closed

[2015-10-19 14:54] #69 closed

[2015-10-23 14:51] aramboi opened #76 "Source files are different in the pypi package than in the repo"
Line https://github.com/vimeo/vimeo.py/blob/master/vimeo/client.py#L16 in the package is:
[code]
This causes the connections without a full URL path to fail with a 404.

Looks like the source was tested in the `dev` environment and the URL was not changed back to the  production one before being packaged.

[2015-10-23 14:55] aramboi commented on #76
Package links with this issue:
https://github.com/vimeo/vimeo.py/releases/download/0.3.1/PyVimeo-0.3.1.tar.gz
https://pypi.python.org/packages/source/P/PyVimeo/PyVimeo-0.3.1.tar.gz

[2015-10-23 15:41] #76 closed

[2015-10-23 15:48] aramboi commented on #76
wow, very fast fix. Thanks. :+1:

[2015-11-28 14:55] oryxcam opened #78 "Video Replace Troubles since 12th November"
Using PyVimeo to replace 8 videos automatically on a daily basis and worked fine for months.

Did not change anything, but it does not run anymore since 12th November 2015.

Suspect Vimeo having changed something.

Here the error I get:

Traceback (most recent call last):
  File "./vimeo_replacer.py", line 43, in <module>
    video_uri = v.upload('/home/daniel/MEGA_ORYX_TIMELAPSE_OUTPUT_FOLDER/144

[2016-01-21 22:41] harrywykman commented on #78
I'm getting the same error described above:

Traceback (most recent call last):
  File "vimeo_api.py", line 42, in <module>
    video_uri = client.upload('/home/gerrard/code/python/timelapse/timelapse.mp4')
  File "/home/gerrard/.virtualenvs/timelapse/local/lib/python2.7/site-packages/vimeo/upload.py", line 28, in upload
    return self._perform_upload(filename, ticket)
  File "/home/gerrard/.virt

[2016-01-25 19:52] Dashron commented on #78
Hey Everyone,

We're going to have a developer look into this soon. They may not be related issues, but we will update you when we have (or need!) more information!

[2016-02-02 19:53] agilefox commented on #78
There was a problem where if the library did not get back a 201 when creating an upload ticket, it would try to throw an exception. However, this exception was undefined.
I have corrected that and you will be able to `except` an `UploadTicketCreationFailure` which will give you further information on why the upload failed.

I'll push a new package (3.3) shortly.

[2016-02-05 16:51] agilefox opened #80 "-"

[2016-02-05 16:52] #80 closed

[2016-02-05 20:42] #78 closed

[2016-02-11 21:27] Dashron opened #81 "Proper messaging and documentation about GAE problems"
Does not have open ssl pre-installed: https://blog.bekt.net/p/gae-ssl/

[2016-03-04 22:29] belonesox opened #83 "obvious error in upload_picture"
Look
https://github.com/vimeo/vimeo.py/blob/master/vimeo/upload.py#L131

Exception if all OK

[2016-03-07 20:24] Dashron commented on #83
Agreed, it looks pretty obvious. I'll get someone to look at it asap.

[2016-03-07 20:26] Dashron commented on #83
If anyone encounters this issue before we resolve it, I bet you can just add an exclamation point to change it to not equal to 200.

`if obj.status_code !== 200:`

[2016-04-15 23:29] inkadnb commented on #83
Any update on this?

[2016-04-18 19:51] Dashron commented on #83
The temporary fix above should solve the problem. The actual release was delayed. I can not give a solid timeline at the moment.

[2016-05-04 20:33] erunion commented on #83
Just pushed up a fix, and tagged [v0.3.4](https://github.com/vimeo/vimeo.py/tree/v0.3.4).

[2016-05-04 20:33] #83 closed

[2016-06-06 13:02] paolocomis opened #84 "Random upload error"
Hello, I use this library because I had similar problems with the official PHP library (random error: PHP Fatal error: Uncaught exception 'Vimeo \ Exceptions \ VimeoRequestException' with message 'Unable to complete request. [Connect () timed out!] 'In /root/vendor/vimeo/vimeo-api/src/Vimeo/Vimeo.php: 154).

Unfortunately, I'm also having problems with this. Uploading a video often gives me errors

[2016-06-06 13:15] paolocomis commented on #84
Hello, I use this library because I had similar problems with the official PHP library (random error: PHP Fatal error: Uncaught exception 'Vimeo \ Exceptions \ VimeoRequestException' with message 'Unable to complete request. [Connect () timed out!] 'In /root/vendor/vimeo/vimeo-api/src/Vimeo/Vimeo.php: 154).

Unfortunately, I'm also having problems with this. Uploading a video often gives me errors

[2016-06-07 22:09] Dashron commented on #84
We noticed some server issues that should be resolved. Are you still encountering this issue?

[2016-06-08 08:46] paolocomis commented on #84
Thank you for your answer. Unfortunately, the problem occurs daily from 4 April 2016 (verified in my logs). I uploaded many videos a day and often all consecutively. Is there a way to fix it? I tried to add timeout and sleep even 5 minutes per video in scripts but the problem persists.

[2016-06-08 15:03] Dashron commented on #84
In the response from the HTTP POST request to /me/videos, there is a field named "ticket_id". Can you log a handful of those ticket ids and post them here? We'll keep our team updated and try to track down the cause.

[2016-06-08 15:04] Dashron commented on #84
cc @tommypenner

[2016-06-09 08:00] paolocomis commented on #84
Hello, this morning I received an email from vimeo support (which in the meantime I had contacted). It seems that they had problems in the server.

The answer:

Hi there,
After my reply to you yesterday we pushed a fix for the upload servers That were timing out. Are you still having trouble with your requests failing / timing out today?
Sincerely,
Tommy P.

Yesterday in my logs I found no errors

[2016-06-09 15:06] Dashron commented on #84
Glad to hear it's stabilized. Let me know if you run into any more issues.

[2016-06-09 15:06] #84 closed

[2016-06-17 11:37] kgmoney opened #85 "Progress Reports"
Hi,

Is there a way to display the progess of the upload with this library...maybe bytes sent vs bytes total?

Thanks,
Kevin

[2016-06-21 15:08] kenyavs commented on #85
Hi Kevin,

There is currently no way to display the progress of the upload with this library. That seems useful. Submit a PR and fill out our CLA: developer.vimeo.com/cla

[2016-06-21 15:19] #85 closed

[2016-07-14 18:40] erunion commented on #74
You should be receiving these headers now.

[2016-07-14 18:40] #74 closed

[2016-07-24 01:37] sfelf commented on #83
Any chance this fix and version can be pushed to PyPi? We are currently running into problems due to this bug.

[2016-07-25 01:24] erunion commented on #83
@sfelf Will get that updated this week.

[2016-07-25 03:26] sfelf commented on #83
@erunion Thank you so much!

[2016-07-28 18:11] erunion commented on #83
@sfelf Pushed `0.3.4` to PyPi.

[2016-07-28 18:53] sfelf commented on #83
@erunion Thanks! We are installing now.

[2016-08-11 16:28] williamroot opened #86 "Handle limit exceeded API errors"
Starting August 9th, 2016 Vimeo began enforcing rate limits on all API apps. This enforcement includes API apps that were created prior to that date. Heavy users of the API were notified prior to this update with instructions for optimizing their API requests and potential impacts to their API implementations.

The API rate limit is generally based on a 15-minute rolling window (this window may ch

[2016-08-17 18:37] ShawonC opened #88 "Vimeo.py Passing Integers as Header Values - No Longer Works with Requests 2.11.0"
I'm currently using vimeo.py in a script to create a web page in our vimeo account page and post a video. The vimeo.py module uses the Requests library, but since the recent update of the requests library from version 2.10.0 to 2.11.0, I'm getting a header value error when trying to create the vimeo webpage.
The actual error is: Header value 694886324 must be of type str or bytes, not <type 'int'>

[2016-08-20 18:49] Calzzetta commented on #88
Hi @ShawonC ,

I did a small change that fix this issue, plese check: #89

Regards,
Douglas

[2016-09-02 22:21] #86 closed

[2016-09-04 04:59] khs8727 opened #90 "AttributeError : Cannot found 'VimeoClient' obejct"
I've play with Vimeo API before we use Vimeo to host media files for our service.

I installed PyVimeo through pip and tried to run following example code provided by the author.

[code]

when I call these lines, error occurs and following trackback is shown.

[code]

Can anyone know how to fix this?
I think that python doesn't know where 'VimeoClient' Class in the module...

[2016-09-08 22:51] #90 closed

[2016-09-08 22:58] khs8727 commented on #90
nvm

[2016-09-27 15:37] ShawonC commented on #88
Hey @Calzzetta ,

Thanks for your response, sorry for the delay in my response. I updated the upload.py file as shown in your fix but am still getting the same header request value error. I'll dig into it myself this week and see if I can find any other issues. This may be a problem on my end at this point.

[2016-09-28 16:29] MatthiasWiesner opened #92 "Update PyVimeo with git master"
The current version of PyVimeo (installed with pip) throws an import error:
[code]
simply a typo `APIRateLimitExededFailure`

[2016-09-29 18:08] Calzzetta commented on #88
Hi @ShawonC, please try to update your lib usinig pip.

[2016-09-29 21:13] pg1671 commented on #92
This appears to be included in the latest PyPi release 0.3.7
having to update requirements.txt to force 0.3.6 until fixed

[2016-09-30 11:36] jzelez opened #93 "APIRateLimitExceededFailure"
In `APIRateLimitExceededFailure` exception the code is calling super method but on non-existent `APIRateLimitExededFailure` class.

Also there is a call in `client.py` to `APIRateLimitExededFailure`.

[Fix for this](https://github.com/EncircleInc/vimeo.py/commit/57ea766bca613ec92ca448dc9aa49fd7e46b7ba4)

[2016-09-30 17:12] ShawonC commented on #88
That worked!

Thanks Calzzetta for taking care of this.

[2016-09-30 17:12] #88 closed

[2016-09-30 19:50] Sventour commented on #93
@jzelez it should be fixed in master. Haved you pulled from the master branch?

[2016-09-30 20:14] jzelez commented on #93
No, I've just "pip installed" it normally. But I see now that it is fixed in master.
Sorry for bringing it up.

[2016-09-30 20:14] #93 closed

[2016-10-10 15:14] agilefox commented on #92
This should be fixed on 0.3.8. Sorry!

[2016-10-10 15:14] #92 closed

[2016-10-22 05:37] bongster opened #95 "Is this possible to send file object when upload video?"
Hi i am developer. and i have a question.

Is this possible to send file object when upload video?

because i'm not found upload to file object at upload

[2016-10-22 05:43] bongster commented on #95
when i send to file object that work well so i close this issue

[2016-10-22 05:43] #95 closed

[2017-01-23 15:51] hamoid opened #96 "Missing examples"
There are no code examples for doing things like setting tags, categories, credits or collections. I can see endpoint documentation, but I wonder if it's possible accessing them using vimeo.py in its current state. Could you please post an example for calling POST or PUT methods? Thanks!

[2017-01-26 00:46] Dashron commented on #96
Hey Hamoid,

We definitely need to add some examples, and flesh out the documentation, but for now try this.

Here's an example of how you would edit a video

https://developer.vimeo.com/api/endpoints/videos#PATCH/videos/{video_id}

[code]

Notice the urls and the data parameter. You can find all of the accepted params here: https://github.com/vimeo/vimeo.py/blob/master/vimeo/client.py#L64-L72

[2017-01-26 10:41] hamoid commented on #96
I added the missing features I needed to this fork: https://github.com/hamoid/vimeo.py

[2017-01-26 16:57] Dashron commented on #96
Looks good! We don't plan on adding functions for all the actions available in the API (It's very challenging to maintain) but a fork is always a good solution to fit your needs.

[2017-01-26 16:57] #96 closed

[2017-05-02 07:10] bongster opened #98 "502 bad gateway"
When i upload vimeo use Pyvimeo upload function at version 0.3.9

some times has a 502 bad gateway error.

so how is the problem??

vimeo side or api pyvimeo side?

[2017-05-03 16:24] Dashron commented on #98
Is it consistent? It was likely a temporary outage, but if you are still having issues please reach out to us at vimeo.com/help/contact.

Additionally, for future reference you can check status.vimeo.com to see if we are experiencing any outages.

[2017-05-05 18:43] etienned opened #99 "Wrong info on passing URL parameters and setting API JSON filtering"
In the README.md file it's written that to pass URL parameters, like for adding API JSON filtering, you need to set `data` but I think that should be `params` instead, as stated in the Requests' documentation.

[2017-05-08 22:42] Dashron commented on #99
Thanks! I'll have a dev look into this and get back to you.

[2017-05-18 15:33] erunion commented on #99
Nice catch!

[2017-05-18 15:33] #99 closed

[2017-05-18 15:58] etienned commented on #99
You fixed the missing `add` also, great! I had forgotten to mention it.

Thanks

[2017-05-20 10:51] petaire92 opened #100 "Progress bar?"
It would be a nice thing to have a progress bar while uploading ! Or is it something that I've missed ?

[2017-05-22 14:47] erunion commented on #100
Progress bars would definitely be cool, but unfortunately isn't supported in the library right now/yet.

[2017-05-22 16:11] petaire92 commented on #100
Not necesseraly a bar per se, but a speed and progress indication of any kind would of great relevance…

[2017-05-23 10:44] sslgh opened #101 "Uploading a single file creates two videos"
Hi,
I'm using vimeo.py
I couple of times trying to upload a video using this:

	import vimeo
	v = vimeo.VimeoClient(
            token = _token,
            key = _key,
            secret = _secret
            )
	video_uri = v.upload(video_file)

I get:
* Vimeo creates two entries (videos) in its web site
    1) One blank video (nothing to see)
    2) Other video in good state, visible, playable
*

[2017-05-24 11:16] sslgh commented on #101
Unfortunally I deleted the videos.
I'm testing now so I let you know if this happens again.
Thanks.

[2017-07-04 12:54] bongster commented on #98
is this work status.vimeo.com site.

i think that is weird.

because when i upload the vimeo use vimeo.py, raise a 502 bad gateway, but can not see status.vimeo.com site.

[2017-07-07 05:50] eunseokOh opened #103 "504 Gateway Time-out"
I have written the code below and an error occurs.
plz help me..

HTML

[code]

views.py (def post)
[code]

[2017-07-08 06:59] bongster commented on #98
@Dashron could you help me.

[2017-07-08 07:12] bongster commented on #103
@eunseokOh  i also arise this issue. i spend a time for debug.

i found 504 error are arise at upload video file at ticket url.

the code is `_make_pass` function in `vimeo/upload.py`

maybe `1512341765.cloud.vimeo.com` this server are not health.

[2017-07-08 07:20] bongster commented on #103
and then when i run command `ping 1512341765.cloud.vimeo.com` that server are turn `Reqeust timeout`

[2017-07-10 04:57] bongster commented on #103
did you know how to notice to vimeo developer team in github?

[2017-07-10 04:58] bongster commented on #103
@Dashron Is this same issue i created, could you follow this issue?

[2017-07-10 05:20] eunseokOh commented on #103
Unfortunately, I do not know... 'aaron@dashron.com' I will send an e - mail.

[2017-07-21 01:18] #98 closed

[2017-11-23 21:39] jawache opened #109 "Replacing a video completes successfully but doesn't show correctly on the site"
I've created a video to explain show you exactly what I'm seeing: https://vimeo.com/244261377

I've used the vimeo python api to replace a set of my videos, I've got all the perms and the API is working, no errors, and reports the replace completed successfully.

When checking the results I see something super weird:

1) Goto https://vimeo.com/197887144, this is the old video (you can tell since t

[2017-11-24 01:44] erunion commented on #109
That's really strange! Can you create a ZenDesk ticket with our support team? That'd be the best way to help you get this figured out.

https://vimeo.com/help/contact#tech-api

[2017-11-24 01:48] #109 closed

[2017-11-26 15:35] Loewkie opened #110 "v.get('https://api.vimeo.com/me/videos').content is a str , should be a dict"
v.get('https://api.vimeo.com/me/videos').content has the structure of a dictionary (which I want, so that I can select the data I need), but it has the data type str. Can you fix this?

[2017-11-26 15:41] gabrielgisoldo commented on #110
There's no problem at all. To get it as dict you can use json in place of content likes this:
v.get('https://api.vimeo.com/me/videos').json()

[2017-11-26 15:56] Loewkie commented on #110
If I do that all I get is:

<bound method Response.json of <Response [200]>>
Data type 'instancemethod'

[2017-11-26 16:52] gabrielgisoldo commented on #110
You're welcome! Just close the issue later :)

[2017-11-26 17:15] #110 closed

[2017-12-06 19:31] erunion commented on #109
Hey @jawache, this turned out to be a bug in some new video versioning work that we did. A fix will be going live shortly.

[2017-12-11 00:27] ire4ever1190 opened #112 "no attribute vimeo client"
when ever I try to use the code listed in the readme to auth I get this error

AttributeError: module 'vimeo' has no attribute 'VimeoClient'

any ideas?

[2017-12-11 13:38] #103 closed

[2017-12-11 13:38] #101 closed

[2017-12-11 13:38] #70 closed

[2017-12-11 13:40] erunion commented on #112
I haven't seen that one before. Can you paste the full code you're running? What version of PyVimeo do you have installed?

[2017-12-12 03:43] ire4ever1190 commented on #112
heres the fill code
 `
import vimeo
import glob

#AUTH
v = vimeo.VimeoClient(
    token=YOUR_ACCESS_TOKEN,
    key=YOUR_CLIENT_ID,
    secret=YOUR_CLIENT_SECRET)

for filename in glob.glob('*.mp4'):
	print(filename)
`
Im using PyVimeo-0.4.1 with python2
I have also tried using python3

[2017-12-12 14:52] erunion commented on #112
Strange, that code works for me on a fresh machine and PyVimeo-0.4.1 install.

[code]

Can you try deleting and re-installing PyVimeo? Maybe the package got corrupted during installation.

[2017-12-13 11:25] ire4ever1190 commented on #112
I found the issue. I was naming the file 'vimeo.py' and so it tried to load that instead of the library. Sorry for this

[2017-12-13 11:25] #112 closed

[2018-01-19 14:21] rbhutani opened #113 "vimeo.auth.GrantFailed"
Hi,

I am testing out python to upload videos to Vimeo and I am new to both python and using APIs. I have already created an app on video and had requested the upload access and it was approved as well.

PyVimeo Version: 0.4.1
Python Version: 2.7.11
Mac OS Sierra V 10.12.6

[code]

I am getting this error:

`Traceback (most recent call last):
  File "/Users/rohitbhutani/Documents/Test2.py", line 7

[2018-01-19 15:53] erunion commented on #113
You appear to be sending your `app_token` twice.

Change `key=app_token` to `key=app_id`.

[2018-01-19 20:07] rbhutani commented on #113
Sorry that was a typo in my last change.

Here is what I get after changing it:
`{u'error': u'You must provide a valid authenticated access token.'}
Traceback (most recent call last):
  File "/Users/rohitbhutani/Documents/Test2.py", line 16, in <module>
    video_uri = v.upload(videofilename)
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/vimeo/upload.py", li

[2018-01-19 21:16] erunion commented on #113
Can you send in an email to our support team at https://vimeo.com/help/contact? They'll be able to help you out.

[2018-01-19 21:16] #113 closed

[2018-02-14 23:51] QurQuma opened #115 "maximum upload specified(1818091 bytes) has been reached error"
When uploading a new file to vimeo

`video_uri = v.upload(folder_path + board_type + str(n) + '.mp4', data={'name': hub_title + data['name'], 'description': data['notes']})`

I always get the following error:

1818091 bytes uploaded ...
maximum upload specified(1818091 bytes) has been reached

What's going wrong?
Thanks,
Francesco

[2018-02-15 02:50] erunion commented on #115
What you're seeing is just debug from the upload process. If you print out `video_uri`, you should have a URI from your uploaded video.

Example from our `/example/upload.py`:

[code]

[2018-02-22 13:30] eakbas opened #116 ""upload_quota" returns empty"
This call returns an empty json, is it normal?

`about_me = v.get('/me', params={ 'fields': 'upload_quota' })`

I am using the latest version of  PyVimeo 1.0.0.

[2018-02-22 16:02] tommypenner commented on #116
@eakbas To troubleshoot, we need to look at the token used to authenticate that request. Please email Vimeo using the contact form linked below, and provide a link back to this GitHub issue. Thanks!

https://vimeo.com/help/contact

[2018-02-22 16:02] #116 closed

[2018-04-17 11:03] dhi20 opened #119 "AttributeError: 'exceptions.UnicodeDecodeError' object has no attribute 'text'"
Hi,
Sorry if i'm missing something. I have tried to upload a video via vimeo.py on two different servers but without luck. I can amend existing video titles ect. but not upload. The reponse i get is as follows:

Traceback (most recent call last):
File "/root/vimeo/test1.py", line 13, in
video_uri = v.upload('/home/fairlie/fairlie/webcam/fairlie/output.avi')
File "/usr/local/lib/python2.7/dist-pack

[2018-05-02 05:12] TonyDobbs commented on #119
@dhi20 I'm having the same issue. Were you able to resolve this problem?

[2018-05-02 14:28] erunion commented on #119
@TonyDobbs @dhi20 What version of Python are you all running?

[2018-05-02 14:42] TonyDobbs commented on #119
@erunion I am using Python 2.7.

@dhi20 Thanks for the response, I will continue investigating.

[2018-05-03 14:57] erunion commented on #119
Do you have a piece of code that can replicate the error every time? I need something I can test with, because I don't get this error when using the SDK.

[2018-05-07 19:41] triump0870 commented on #119
I am also getting the same error @erunion when trying to upload from the local system using `tus` protocol. I have the following configuration
Python 2.7
pyvimeo 1.0.1
tuspy 0.2.2

[2018-05-07 20:02] erunion commented on #119
@triump0870 Do you have a video that replicates it every time that you can share with me to test?

[2018-05-07 20:45] triump0870 commented on #119
@erunion I have found the issue, it's with `tuspy-0.2.2` when I downgraded it to `tuspy-0.2.1` it worked. I think `tuspy-0.2.2` is expecting Python 3.

[2018-05-07 20:54] TonyDobbs commented on #119
I never found the root caused, but it appeared to stem from an issue with the tus client. I downgraded from tuspy-0.2.2 to tuspy-0.2.1 and now it works.

[2018-05-07 20:57] erunion commented on #119
Fascianting, okay. I'll downgrade the client in the library and do some additional testing.

[2018-05-07 21:02] triump0870 commented on #119
The actual problem lies with `perform` method in `TusRequest` class. In `tuspy-0.2.1` it is using `pycurl.Curl()` but in `tuspy-0.2.2` it is using `http.client` which is causing the error @erunion

[2018-05-07 21:38] erunion commented on #119
Ok cool, I can replicate it now with `tuspy-0.2.2`. Fixes incoming.

[2018-05-07 21:50] erunion commented on #119
@triump0870 @TonyDobbs @dhi20 A fix has been tagged to v1.0.2. Please let me know if that resolves it.

I just did a hard downgrade to tuspy to 0.2.1, and we can upgrade the library to support 0.2.2 later.

[2018-05-08 14:01] #119 closed

[2018-05-11 12:15] josesuarezcordova commented on #86
Hi, I'm basically new one using this API, and I getting constantly that issue

`Array ( [error] => Too many API requests. Wait an hour or so, then try again. `

I think that I doing well the authentication

[code]

but after few test, I get again the same error . message, but I cant find some practical example about how to avoid it. could you give me some clues please

thanks!

[2018-06-13 08:33] soam-abhishek opened #121 "ImportError: pycurl: libcurl link-time ssl backend (openssl) is different from compile-time ssl backend (none/other)"
[code]

[2018-06-13 13:48] erunion commented on #121
This looks to be an issue in some environments with tus-py-client.

Do you mind trying the steps that appear to have solved the problem in the Transloadit library? https://github.com/transloadit/python-sdk/issues/4#issuecomment-346785159

[2018-06-15 05:20] soam-abhishek commented on #121
Thanks for helping out.

[2018-06-15 05:20] #121 closed

[2018-06-21 07:40] amrutadotorg opened #122 "'TusUploadFailed' object has no attribute 'text'"
Hi, I'm getting
232783872 bytes uploaded ...
'TusUploadFailed' object has no attribute 'text'

I can upload smaller files 60M but not a big ones 5G

the module version looks good,

pip show tuspy
Name: tuspy
Version: 0.2.1

[2018-06-27 20:19] #115 closed

[2018-06-27 20:30] Onebrownsound commented on #122
@amrutadotorg 👋 The latest build should fix this issue, please reach out if it does not.

[2018-06-28 07:21] amrutadotorg commented on #122
Hi, now I'm getting
335544320 bytes uploaded ...
Communication with tus sever failed with status 502

Is it possible to retry the connection with the tus server?

[2018-06-28 17:57] amrutadotorg commented on #122
Yes I can. The error appears after a couple of minutes.

curl -I https://files.tus.vimeo.com/HTTP/1.1 200 OK
Date: Thu, 28 Jun 2018 17:55:52 GMT
Content-Length: 222
Content-Type: text/plain; charset=utf-8
Via: 1.1 google
Alt-Svc: clear

On Thursday, June 28, 2018, Jon Ursenbach <notifications@github.com> wrote:

[2018-06-28 18:29] erunion commented on #122
Ok, good to know. We'll try and get some retry logic in by the end of the week.

[2018-06-30 08:01] Prithvi45 opened #124 "Uploading texttrack from public url doesn't work ?"
I am trying to upload a textrack for a video, where my texttrack is stored on public url. I did not found pull request here as similar for video uploads

[2018-07-13 12:03] amrutadotorg commented on #122
thank you, please let me know once it is ready

[2018-07-16 08:01] Heinoman opened #125 "Add video to Vimeo project"
Is it possible to specify a Vimeo project when uploading a video?

[2018-07-16 15:09] erunion commented on #122
@amrutadotorg We've pushed some retry logic into v1.0.4.

[2018-07-16 15:09] #122 closed

[2018-07-17 09:14] amrutadotorg opened #128 "Attemp to retrieve offset fails with status 502"
Hi, I'm trying to upload 6.7G file, after uploaded 500M+ chunk I'm getting:

522462080 bytes uploaded ...
Attemp to retrieve offset fails with status 502

moreover partially uploaded video can be seen at https://vimeo.com/280318432

I have 1.0.5 version

Thank you

[2018-07-17 19:05] erunion commented on #128
Talked with our upload team today, and they found some issues in our backend that they're currently working on fixing. I'll let you know when those fixes are complete.

[2018-07-20 02:05] maclove9 opened #129 "Failed to install package 'PyVimeo'"
Hi, I'm trying to install with PyCharm(windows 10)

**Excuted command :**
pip install Pyvimeo

**Command output :**

Collecting PyVimeo
  Using cached https://files.pythonhosted.org/packages/b8/d9/7dd9a8748482d2dd6004685d36f8c89cbf2c4d4033f2b513803b49b54f4c/PyVimeo-1.0.5.tar.gz
Requirement already satisfied: requests>=2.4.0 in d:\work\web\tc-btest-backend\venv\lib\site-packages (from PyVimeo) (2.1

[2018-07-20 17:19] erunion commented on #129
I don't have a Windows machine to test, but how are you attempting to install the package? Within PyCharm, or from your Windows shell?

[2018-07-23 02:43] maclove9 commented on #129
@erunion I tried both(PyCharm 2018.1 and Window shell).  The same error has occurred.

[2018-07-23 14:34] tagiles commented on #128
I'm getting the same error status code, same situation, different message - may be related?

3.5gb file, after 1g fails with 502:

  File "C:\Python27\ArcGIS10.6\lib\site-packages\vimeo\upload.py", line 147, in __perform_tus_upload
    'Unexpected error when uploading through tus.'
VideoUploadFailure: Communication with tus sever failed with status 502

[2018-07-23 14:57] erunion commented on #128
@tagiles Definitely related. Talked with our upload team and they tell me that their fix is ~80% complete, but there's some changes we can put into the SDK to alleviate it a bit. We'll try to get to those fixes this week.

I'll update this thread when that's complete, and apologies for the troubles.

[2018-07-23 15:54] Onebrownsound commented on #129
@maclove9 Try installing the `PyCurl` package (via MSI or Wheel) manually from [here](https://bintray.com/pycurl/pycurl/pycurl/view#files). You should be looking for the `pycurl-7.43.0-cp27-none-win_amd64.whl` for the wheel or `pycurl-7.43.0.win-amd64-py2.7.msi` for the MSI version.

* If you opt for the wheel it can be installed with `pip install <path_to_wheel_file>`
* The MSI should be double c

[2018-07-24 07:48] maclove9 commented on #129
@Onebrownsound I tried install the Pycurl, but result same.

[2018-07-25 02:43] maclove9 commented on #129
@tocsinDE  I succeed install PyCurl, but result same.
I succeed install PyVimeo at my mac, but failed at my windows pc.

[2018-07-25 13:43] erunion commented on #129
After getting PyCurl installed successfully, are you getting a different output from pip, or the same telling you to specify the path to `libcurl`?

[2018-07-25 16:44] Onebrownsound commented on #129
@maclove9 Having a tough time reproducing. With a fresh Python (2.7) install with no packages or PyCurl/Curl on the system, the pip install functioned. What version of Python are you using?
![pyvimeo_install](https://user-images.githubusercontent.com/9296941/43214851-82673d74-9008-11e8-96a9-11c0f4d8d4b7.PNG)

[2018-07-26 04:51] maclove9 commented on #129
@Onebrownsound Python 3.6.6

![pyvimeo](https://user-images.githubusercontent.com/3917276/43242279-95dca6e6-908f-11e8-89e1-d3ff0d9a2c96.JPG)

[2018-08-14 13:47] mgiles86 commented on #128
@erunion Any idea when this fix will be released? thx

[2018-08-14 21:55] erunion commented on #128
@mgiles86 We have an open pull request https://github.com/vimeo/vimeo.py/pull/130, it just needs some review. Should be able to tag a new release tomorrow.

[2018-08-15 13:10] erunion commented on #128
@mgiles86 @amrutadotorg @tagiles This fix has been tagged to 1.0.6. Please let us know if you have any additional issues.

https://github.com/vimeo/vimeo.py/releases/tag/1.0.6

[2018-08-15 13:10] #128 closed

[2018-08-15 13:19] erunion commented on #125
This is now possible!

https://developer.vimeo.com/api/reference/projects

[2018-08-15 13:19] #125 closed

[2018-08-16 01:11] amrutadotorg opened #131 "pyvimeo 1.0.6 has requirement tuspy==0.2.1"
Hi, I'm getting

pyvimeo 1.0.6 has requirement tuspy==0.2.1, but you'll have tuspy 0.2.3 which is incompatible.

is it safe to upgrade tuspy?

thank you

[2018-08-16 07:55] amrutadotorg commented on #131
it looks it is not safe, I'm getting
'exceptions.UnicodeDecodeError' object has no attribute 'status_code'

can you make pyvimeo compatibile with tuspy>0.2.1 ?

[2018-08-17 12:48] geomatics-nwrc commented on #128
@erunion In 1.0.6 I am still having issues with large files. I have been able to upload a 1.2 gb file successfully, but that same file failed on a later run. Anything larger consistently fails and anything smaller consistently works.

One of the following errors are reported on a crash:
Server reported: (56, 'SSL read: error:00000000:lib(0):func(0):reason(0), errno 10054')
Server reported: (55, 'S

[2018-08-20 14:12] geomatics-nwrc opened #132 "SSL errors when uploading large files"
Upload is failing with SSL errors when I try to upload large files. The largest file I have been able to upload is 1.2gb. The same file failed when trying to upload it a second time. Files less than 1gb seem to work consistently.

I see one of the following errors on a crash:
Server reported: (56, 'SSL read: error:00000000:lib(0):func(0):reason(0), errno 10054')
Server reported: (55, 'SSL_write()

[2018-08-27 14:55] erunion commented on #131
Sure, we'll update it to support that.

[2018-08-27 20:38] erunion commented on #131
PyVimeo 1.0.7 now allows tuspy>=0.2.1. Let us know if you're still having trouble.

[2018-08-27 20:39] #131 closed

[2018-08-27 21:28] amrutadotorg opened #134 "'exceptions.UnicodeDecodeError' object has no attribute 'status_code'"
With tuspy 0.2.3 and PyVimeo 1.0.7 I'm getting

'exceptions.UnicodeDecodeError' object has no attribute 'status_code'

[2018-08-28 23:41] erunion commented on #134
I've pushed up another fix to 1.0.8, let me know if it solves that problem. You'll probably still get back Unicode exceptions, but there should be (hopefully helpful) messaging on why.

[2018-08-29 12:09] erunion commented on #134
Strange, I can't replicate.

[code]

[2018-08-29 12:35] amrutadotorg commented on #134
I'm not getting any errors but uploading fails
see:
https://vimeo.com/287241839

the file is 1.3G

[2018-08-29 15:16] erunion commented on #134
@amrutadotorg I talked with our upload storage team, and they said that it looks as if some weird stuff went on while that video was uploading. Can you try it again?

[2018-08-29 15:45] erunion commented on #134
Since I've mostly been testing uploads here with short videos of my dog, I gave it another go with some beefier videos and still can't replicate the async issue.

#### Big Buck Bunny (1080p@60fps)
Total file size of 355.9MB

[code]

https://vimeo.com/287261492/f2c7c1fcef

#### Big Buck Bunny (4k@60fps)
Total file size of 673.2MB

[code]

https://vimeo.com/287263494/a52bbcb89f

#### Big Buck Bunny

[2018-08-29 17:29] amrutadotorg commented on #134
I tried again, the same
https://vimeo.com/287292882

[2018-08-29 17:36] erunion commented on #134
@amrutadotorg That's really weird. I talked to our upload team about the first video you tried uploading, and they said that no data was actually transferred.

Can you send an email to our support team through https://vimeo.com/help/contact with as much information as you can about your environment, the video file, and the version of PyVimeo you're using? They should be able to better help you.

[2018-09-04 01:39] edmenendez opened #135 "Uploading Gives Tus Error when using Version 1.0.8"
On Python 2.7.6 after upgrading to PyVimeo 1.0.8 from 0.4.1 I get this error in the upload() method:

Traceback below.

[code]

Workaround is to switch back to 0.4.1.

[2018-09-04 08:31] amrutadotorg commented on #134
Good to know that I'm not the only one who has this issue.
I'm in contact with the support team. I sent them some of the info like:

"Successfully installed certifi-2018.8.24 chardet-3.0.4 future-0.16.0 idna-2.7 pyVimeo-1.0.8 requests-2.19.1 six-1.11.0 tinydb-3.11.0 tuspy-0.2.3 urllib3-1.23"

in reposnse I got

"To also verify, what version of PyVimeo and what version of tuspy are installed?"
:)))

[2018-09-05 14:03] erunion commented on #134
@jotterbot @amrutadotorg I still haven't been able to replicate it. Can you get any more information out of the requests and responses you're receiving?

[2018-09-05 21:58] erunion commented on #134
How are you all uploading videos through the SDK? Are these videos files on your server, or something else?

[2018-09-05 22:00] erunion commented on #135
Are you able to capture the actual exception that's being thrown here?

[2018-09-05 22:15] edmenendez commented on #135
This is what I see in the logs

`VideoUploadFailure: null
  File "celery/app/trace.py", line 240, in trace_task
    R = retval = fun(*args, **kwargs)
  File "celery/app/trace.py", line 438, in __protected_call__
    return self.run(*args, **kwargs)
  File "lms/tasks.py", line 489, in create_2min_clip
    mv.vimeo_url = v.upload(full_fn)
  File "vimeo/upload.py", line 78, in upload
    return self.

[2018-09-05 23:00] erunion commented on #135
You get this error on every upload? Or just specific video files? How large are the videos that are failing?

[2018-09-05 23:35] edmenendez commented on #135
It happens on every upload. They are all 2 minutes long so they're approximately the same file size.  The most recent one I tried was:

[2018-09-06 13:33] erunion commented on #135
Can you replicate the problem with our [upload.py](https://github.com/vimeo/vimeo.py/blob/master/example/upload.py) example script?

[2018-09-06 13:54] amrutadotorg commented on #135
confirmed

 --- modulename: httplib, funcname: putheader
httplib.py(1007):         if self.__state != _CS_REQ_STARTED:
httplib.py(1010):         header = '%s' % header
httplib.py(1011):         if not _is_legal_header_name(header):
httplib.py(1014):         values = [str(v) for v in values]
httplib.py(1014):         values = [str(v) for v in values]
httplib.py(1015):         for one_value in value

[2018-09-06 14:02] erunion commented on #135
@amrutadotorg Are you also on Python 2.7?

I'm pulling @Onebrownsound in to help out on this.

[2018-09-06 21:01] Onebrownsound commented on #135
@amrutadotorg @edmenendez
👋 So, while digging through this issue today, I came across findings I found interesting.
I was able to reproduce what was described, but only after spawning a fresh `virtualenv` off my long term local Python 2.7.10.

I was unable to reproduce this problem, when I spawned a `virtualenv` off my long term and I inherited the existing site packages. Going to keep digging, an

[2018-09-07 17:35] erunion commented on #134
@jotterbot @amrutadotorg We've downgraded our tuspy requirement back to 0.2.1, and it seems to have resolved the issue.

I've tagged a new release for this, 1.0.9. Please let us know if it resolves your issues.

[2018-09-07 17:36] erunion commented on #135
@edmenendez @amrutadotorg We've downgraded our tuspy requirement back to 0.2.1, and it seems to have resolved the issue.

I've tagged a new release for this, 1.0.9. Please let us know if it resolves your issues.

[2018-09-07 17:37] erunion commented on #131
We've unfortunately had to downgrade tuspy back to 0.2.1 because 0.2.2 has some incompatible changes on Python 2.7.x.

See https://github.com/vimeo/vimeo.py/pull/136 for more details.

[2018-09-07 20:29] edmenendez commented on #135
It worked.

Note that I get the following messages while upgrading requirements but it worked anyway. Also, had to do this first to update curl: apt-get install libcurl4-openssl-dev

[2018-09-07 20:31] erunion commented on #135
Awesome. Thanks for being patient and sorry for the trouble on this.

[2018-09-07 20:31] #135 closed

[2018-09-10 07:58] amrutadotorg commented on #134
Dear @erunion everything looks good now. Thank you.

[2018-09-13 13:12] erunion commented on #134
Super weird. Wonder if you were missing an SSL package of some sorts.

Glad it's resolved though.

[2018-09-13 13:12] #134 closed

[2018-10-04 15:06] phalox commented on #129
I'm having the same issue on python 3.6.4. I've removed the upload part which depends on tusclient, I believe that's the only thing that requires pycurl. Removing this from the library fixed my issue!

[2018-10-19 17:28] Jazzydex commented on #129
I am also having the same issue on 3.7 I can not get past the error stated above no matter what I install additionally or upgrade or fix. I have upgraded pip, setuptools and installed various other tools, however, I still get the error when attempting to install PyVimeo

[2018-10-22 13:54] Jazzydex commented on #129
ok so here is the solution to this process. You have to download the PyVimeo download from the same place you found the issues. I downloaded it to the c drive. Then I ran that package python -m pip install c:\filename.gz --user and it works fine, you will need to update pip and setup tools as well. At least I did. You only get the issue if you attempt to download the file and install at the same t

[2018-10-24 16:05] erunion commented on #129
If @Jazzydex's solution works for everyone else, we can update our readme with some Windows-specific clarifications.

[2018-10-25 09:57] mcgeo52 opened #138 "Please explain."
I run the following:

[code]

What I get back is:
token=[[REDACTED]]

If I rerun the script, it generates a different token.

Please explain:
1) Why do I need to put my token in both lines 4 and 18?
2) Why am I generating another token if the one I used in both lines 4 and 18 apparently worked well enough to generate a second token (printed per line 21)?
3) Why is the video not uploading per line

[2018-10-25 14:00] erunion commented on #138
If you already have a token you don't need to request another.

Also your `v.load_client_credentials('my token')` isn't right, and you should be passing a list of scopes instead of a token there. Client credentials tokens are unauthenticated, so you wouldn't be able to upload a video with one either.

Are you receiving any errors? Why are you doing the upload within a try-catch for `vimeo.auth.Gra

[2018-10-25 23:58] mcgeo52 commented on #138
You say:
If you already have a token that's been authenticated to a user, you can simply do:

v = vimeo.VimeoClient('my token')
video_uri = v.upload(...)

That is not he entire script, obviously.

What else is necessary for a simple pull upload?

[2018-10-26 16:57] mcgeo52 commented on #138
@tommypenner thanks for the question. I had been granted tokens, etc. and assumed I had been granted upload access. Buried in the fine print I found a notice that I needed to edit and resubmit my application.

Assuming that upload access is granted, what Python code will I need? Should what I have above work, or will I need something else?

[2018-10-26 17:10] gabrielgisoldo commented on #138
@mcgeo52 , after you get your token, you can use this to upload:
``
v = vimeo.VimeoClient(token=your_token)
``
``
v.upload(path_to_file, data={'name': 'Video title', 'description': '...'})
``
That's all you'll need.

[2018-10-26 17:22] mcgeo52 commented on #138
Thank you, @gabrielgisoldo.

[2018-11-02 09:46] mcgeo52 commented on #138
@gabrielgisoldo, it works (after I generated the proper token). Thanks again.

[2018-11-02 09:46] #138 closed

[2018-11-12 17:17] farhanmasud commented on #129
@erunion , it's not a Windows specific issue. I tried to install it on my Ubuntu 16.04, it shows the same error.

[2018-11-12 17:18] farhanmasud commented on #129
@Jazzydex , can you please elaborate? I didn't understand the solution. Do I have to download pyvimeo on a specific path?

[2018-11-12 18:01] Jazzydex commented on #129
Pull the package from the website rather than from within python. It pulls
the wrong version or something. It'll work then.

On Mon., 12 Nov. 2018, 12:34 farhanmasud <notifications@github.com wrote:

[2018-11-12 19:59] Jazzydex commented on #129
Download it from Vimeos developer portal.

On Mon., 12 Nov. 2018, 13:10 farhanmasud <notifications@github.com wrote:

[2018-11-19 21:35] Jazzydex commented on #129
Killer, fantastic!

On Mon., 19 Nov. 2018, 16:24 Mitch Tabian <notifications@github.com wrote:

[2018-12-07 17:39] seirl opened #139 "Release 1.0.10 is broken because of a missing README.md in the package"
Traceback:

[code]

[2018-12-07 17:51] erunion commented on #139
Well that's an interesting one. I've reverted the two lines I added to `setup.py` for the README stuff so we could get a better description on PyPI.

1.0.11 should be good.

[2018-12-07 17:51] #139 closed

[2018-12-07 18:08] seirl commented on #139
Thanks a lot for the quick fix, I can confirm it works now.

[2018-12-11 18:56] erunion opened #140 "Drop support for Python 2"
We've been getting a number of support cases over the past few months for upgrading tuspy to the latest version (https://github.com/vimeo/vimeo.py/pull/136). Unfortunately we can't do that because support for Python 2 was dropped in version 0.2.2.

Let's drop our support for Python 2 as well, upgrade tus, and release a 2.0 release. Let's also branch off the current master so we can retain the abil

[2018-12-11 19:54] Kinozuko opened #141 "TusCommunicationError when uploading a video of 500MB"
Hi, i have an issue when i try to upload videos (500MB as minimum), at begin is uploading correctly, after a while i got an exepcion, it work perfectly when i upload small video (4MB), i'm using python-sdk with the function upload inside my class, in the construct i initialize the user

[code]

Python-sdk only use the "tus" option to upload video (when using the upload function inside the Pyvimeo)

[2018-12-12 04:54] Kinozuko commented on #141
Yes, i tried to upload an .avi and .MKV and got the same error in both upload

[2018-12-12 14:47] erunion commented on #141
What version of Python are you running? What version of the PyVimeo?

[2018-12-12 14:49] Kinozuko commented on #141
Python==3.6.3 and PyVimeo==1.0.11

[2018-12-12 15:03] erunion commented on #141
We're working on an exclusive Python 3 version this week (#140), but I'm curious if this is a problem with your environment and tuspy 0.2.1. Are you able at all to run your upload integration under Python 2?

If not, hold on a couple days until we're able to release the 2.0.0 release that targets just Python 3+ and latest versions of tuspy, and see if that helps.

[2018-12-13 13:06] Kinozuko commented on #141
Hi, i tried to run using Python 2 and got this error:

`
 'Unexpected error when uploading through tus.'
VideoUploadFailure: (55, 'SSL_write() returned SYSCALL, errno = 32')
`

[2019-01-26 12:20] Kinozuko opened #142 "Bad response when uploading large videos using form-based approach"
I'm using the form-based approach to upload videos, i'm gettin the upload link action on this way:

[code]
After that i made a POST request to upload_link with a Multipart Form Body with a field called file_data, this POST works when i upload small videos, but with large videos i'm getting a bad response, but the videos are uploaded, that's why i don't know why i'm getting this response

![image](

[2019-01-28 15:31] tommypenner commented on #142
@Kinozuko How large are the video files you are attempting to upload? Can you try uploading with a video you created, or an open source video like [Big Buck Bunny](http://bbb3d.renderfarming.net/download.html) that allows open distribution? Not only is uploading TV show rips against Vimeo TOS, it's possible that the upload is failing or being rejected due to the file name `Mr.Robot.S01E06` alone.

[2019-01-28 18:07] Kinozuko commented on #142
The videos are 400MB+, i tried it with a video i create and the video is uploaded but i'm getting the same response, 503 or ERROR

[2019-01-29 10:19] amrutadotorg commented on #140
Hi, any progress on 2.0 release?

thank you

[2019-01-29 13:07] erunion commented on #140
Unfortunately no not so far. We've been very busy with other projects and haven't had very much time to devote to a new release. We're hoping to get something going next month.

[2019-01-30 22:12] tommypenner commented on #142
@Kinozuko can you contact Vimeo and reference this GitHub issue in your message? We may need to troubleshoot in private and review account details.

https://vimeo.com/help/contact

[2019-02-10 00:45] gabrielmontagne commented on #129
I have the same problem on Debian 9.6 -- PyVimeo wouldn't install from pip (on a anaconda setup)

[code]

I cloned this repo, and copied the `vimeo` folder / module to my app and it worked fine for me so I stopped my investigations there.

[2019-02-10 00:57] Onebrownsound commented on #129
@gabrielmontagne Please try appending `--ignore-installed` to the `pip install PyVimeo` command.

[2019-02-10 16:32] gabrielmontagne commented on #129
thanks, that worked perfectly 👍

[2019-02-13 20:33] Kinozuko commented on #142
Hello, i tried to contact Vimeo but i didn't get a response

I was trying to make a post to upload_link with a file in multipart-form called file_data, with small videos works fine but with large video i'm getting timeout response and can't upload anythins, this happen wit videos of 150MB+

I tried diferrent videos

14MB -> Works fine
25MB -> Works fine
150MB -> Got timeout response
450MB -> Got t

[2019-04-11 10:40] amrutadotorg commented on #140
ok thank you

[2019-04-21 03:02] tu184044109 commented on #129
This works for me!

[2019-04-23 19:09] codingsett opened #143 "Error when pip installing from pypi or from the repo"
Hi i get an error when i try to install this package what could be the issue?

[code]

[2019-04-23 20:47] Onebrownsound commented on #143
Hey! Try and check out [this](https://github.com/vimeo/vimeo.py/issues/129#issuecomment-462093858) thread.

[2019-04-24 19:17] codingsett commented on #143
I sorted it out by downloading the library and adding it to my project files ..

[2019-04-24 19:18] #143 closed

[2019-04-24 19:34] codingsett opened #144 "Extracting video url for custom player"
Hello i am trying to extract the direct mp4 video file from my own videos in my PRO account but when i check the json returned by the api there is no such is this possible.

example of what i would like to get:
`https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4`

My code:

[code]

[2019-04-24 19:47] tommypenner commented on #144
@codingsett Do you get the `files` array back in the response? Does your auth token have the scope `video_files`?

[2019-04-24 20:06] codingsett commented on #144
I did not get the files array in the response and where do i add the scope your documentation is not clear enough. This is my full code currently..
[code]

[2019-04-25 18:56] tommypenner commented on #144
How are you generating that token? You specify the `video_files` scope, along with any other needed scopes, when the token is generated.

https://developer.vimeo.com/api/authentication#understanding-the-auth-process

[2019-04-28 19:23] codingsett commented on #144
Ok i generated the token and specified the scope and added it as an argument when initializing the vimeoclient but i get an error below

[code]

[code]

[2019-04-29 20:14] codingsett commented on #144
Sorted it out

[2019-04-29 20:14] #144 closed

[2019-07-18 20:31] xxyxyx commented on #129
Even with --ignore-installed I get the same problem on MacOS 10.14.2.

I get the error:

ERROR: tuspy 0.2.1 has requirement certifi==2017.7.27.1, but you'll have certifi 2019.6.16 which is incompatible.

[2019-08-01 06:04] xtsimpouris commented on #141
Where do we stand with this? I just got the same exception `Unable to upload video to Vimeo ('TusUploadFailed' object has no attribute 'message')` with a video of around 60mb. My depedencies in my virtualenv environment are (Python 3):
[code]

[2019-08-01 06:11] xtsimpouris commented on #140
Hi, is there any news on this? Thanks

[2019-08-01 08:43] hugovk commented on #140
Please see PR https://github.com/vimeo/vimeo.py/pull/147 to drop support for Python 2.

[2019-08-01 17:43] Kinozuko commented on #141
Never got a solution using the Tus upload option. I used the form upload option, was getting the action link from the form and used a request with PUT to upload large size videos, tested with videos 500MB+ and worked.

[2019-08-01 18:33] xtsimpouris commented on #142
@Kinozuko have you found a robust solution for even big files? Can you share?

[2019-08-01 19:33] Kinozuko commented on #142
@xtsimpouris my solution was used the "upload_link" from the response from /me/videos route from API with the difference the request to "upload_link" was a PUT instead POST, that works from me, also the request was made from Front End using typescript. That was my solution, not a practical solution but it's worked

[2019-08-01 20:30] ctsimpouris commented on #141
For some reason, vimeo module has a deffault chunk size of 200mb, why?! A single chunk is 200mb? Anyway, I forced with parameter `data={'chunk_size': 512 * 1024}` down to `512kb`. It doesn't matter how small it may be, as internally it is overriden if number of chunks is more than `1024`. And now I can upload video through the tus upload option!

[2019-08-09 17:55] mhoare opened #148 "Pull Upload Support"
Does your SDK support pull Upload?

[2019-08-21 22:27] jacksonp2008 opened #149 "pip install pyvimeo on mac"
Tried on two different macs, similar but not quite the same errors related to pycurl.

Environment: macOS 10.14.6

[code]

Here is the error:
[code]
and it doesn't work from python

[2019-09-01 04:35] brunoreisfm commented on #135
@erunion Same error happening with the same versions of last @edmenendez comment:

Versions:
![image](https://user-images.githubusercontent.com/35741326/64071473-2a8fdf80-cc51-11e9-8a1c-e99a4074afe1.png)

Error:
[code]

That file is only 50mb... For smaller files (<5mb) I'm not getting an error.

Can someone help?

Thanks!

[2019-09-01 04:38] brunoreisfm opened #150 "Uploading gives tus error for files > 5mb."
In the issue #135 @edmenendez seemed to solve by changing the verions of tuspy. I did the same but here it's not working:

Versions:
![image](https://user-images.githubusercontent.com/35741326/64071473-2a8fdf80-cc51-11e9-8a1c-e99a4074afe1.png)

Error:
[code]

That file is only 50mb... For smaller files (<5mb) I'm not getting an error.

Can someone help?

Thanks!

_Originally posted by @brunoreisfm

[2019-10-10 04:59] aliwo commented on #129
I paste the 'vimeo' folder into my python Lib folder.
But...
as I do
[code]

an error occurs
[code]

Any insight?

[2019-10-10 05:11] aliwo commented on #129
Figured it out... the problem was the name of the file.
test.py -> hi.py
The error has gone.

[2019-12-21 08:16] Aniket-Singla commented on #129
I am also getting the same error.  ```  Please specify --curl-dir=/path/to/built/libcurl```. Do I have to manually download and place the folder inside python libs?

[2019-12-23 18:11] Aniket-Singla commented on #138
I am also getting the same error even after getting the required permission.

[2020-01-13 20:08] deweydb commented on #141
This error appears to be intermittent and an issue with Vimeo's backend.  I have received this error before and then when re-attempting with the exact same file and same code at a later date (few hours later) it works fine.

To me this means it has nothing to do with chunk sizes above as suggested, and only a coincidence that it started working again after you changed this setting.  Vimeo should a

[2020-01-25 13:07] Eternal127 commented on #141
I was facing same error and I tried chunk size 10*1024*1024. This is really a tus issue maybe I don't know but it works, I had this issue in some other library which uses tus.

[2020-01-25 13:09] Eternal127 commented on #132
Try using chunk size 10*1024*1024 (10 MB). Issue is really with tusclient which is used by vimeo to upload the files.

[2020-02-13 18:47] augmetic opened #151 "Vimeo hls url keeps changing"
I am getting the m3u8 URL by making this request with API
https://player.vimeo.com/video/<video_id>/config

This streaming URL is then saved to my database and used in an android app to be played. However, It has come to my attention that these URLs are not permanent and keeps changing. Any way I could get permanent streaming link for my videos? I am a pro user.

[2020-02-24 11:45] ammarax opened #152 "Error uploading (55, 'SSL_write() returned SYSCALL, errno = 10053')"
Hi, Upload is failing with message (55, 'SSL_write() returned SYSCALL, errno = 10053')

[code]
os -windows
python 2.7.9
vimeo,py 1.0.11

[2020-02-24 11:48] ammarax commented on #152
worked for me add chunk_size on upload request
[code]

[2020-02-24 11:51] #152 closed

[2020-02-24 12:33] ammarax opened #153 "Create project folder"
There is a method to create a project folder? i'm not understanding how to call the api
https://developer.vimeo.com/api/reference/folders#create_project

[2020-02-24 12:34] ammarax commented on #153
Yes is possible, you must go in that page, press the button try out, get yout user id and sent the request as belove

project = v.post(
    'https://api.vimeo.com/users/{user_id}/projects',
    data={
        'name':"FOLDER TEST"
    })

[2020-02-24 12:34] #153 closed

[2020-03-02 20:19] madcodingrocks opened #154 "unable to import module"
Hi, when I import vimeo I get the following error:

[code]
Im using Python 2.7
any Idea why is that happening?
thanks in advance!

[2020-03-29 23:10] chezhiane commented on #129
please reopen this issue

[2020-04-14 01:43] Stevecaboose opened #155 "sock.settimeout(timeout) throws exception because timeout is a tuple"
After calling:
`response = client.get('/me')`

An exception is thrown because socket.py can only accept an integer as its timeout. I have seen some examples that set the timeout in the request object using a tuple. Did something change to the socket file that only accepts timeouts as an integer and no longer a tuple?

After I changed it to use a single integer, instead of a tuple, everything worke

[2020-04-24 00:50] jonathanmach commented on #129
Same issue here, also using Windows.

[2020-05-12 13:47] kartikdani opened #156 "hi used pyvimeo previously its working fine but now its give me the error "Module 'vimeo' has no attribute 'vimeoclient'""
Module 'vimeo' has no attribute 'vimeoclient'

[2020-05-12 14:53] Aron-HD commented on #129
Same issue here too:

pip install PyVimeo --ignore-installed
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Collecting PyVimeo
  Using cached PyVimeo-1.0.11.tar.gz

[2020-05-13 08:40] kartikdani commented on #129
I getting the error i install successfully pyvimeo in mac. but it's give me the error like

Module 'vimeo' has no attribute 'vimeoclient'
on upload.

[2020-05-13 09:12] kartikdani commented on #129
I getting the error i install successfully pyvimeo in mac. but it's give me the error like

Module 'vimeo' has no attribute 'vimeoclient'
on upload.
version :

PyVimeo==1.0.11

Do you have any idea why i m getting this error

[2020-05-20 05:08] typefox09 opened #157 "Tus upload taking incredibly long time"
Hi, i am experiencing a really long wait time once performing a Tus upload with the api. For a 280mb video (created on my phone) it takes a total of 2 mins and 28 seconds. This is with the chunk size set to  130 * 1024 * 1024 also. I have tried decreasing the chunk size however then it starts taking even longer.  Is there a way to get this time down to within 20 seconds?

My code (helper function

[2020-05-20 20:33] #140 closed

[2020-05-26 03:36] otnasusagus opened #158 "ConnectTimeout (HTTPSConnectionPool)"
`raise ConnectTimeout(e, request=request)
requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.vimeo.com', port=443): Max retries exceeded with url: /videos/422310872 (Caused by ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at 0x7f7a69f096a0>, 'Connection to api.vimeo.com timed out. (connect timeout=1)'))`

I tried to run vimeo api in python sdk, but after I r

[2020-05-28 14:52] ColvrayC opened #159 "Create A Live Event Error 404"
Hello,

I am just starting the integration of vimeo on my web platform for lives (I have a premium account)

Currently, the client connects well with this code:

`vimeo.VimeoClient(token=settings.VIMEO_ACCESS_TOKEN,key=settings.VIMEO_CLIENT_ID,secret=settings.VIMEO_CLIENT_SECRET)`

Until then, no worries.

Then I do a test to create a live with the following code:

`uri = '/me/live_events'`
`respo

[2020-05-29 07:07] phanuelayuka opened #160 "Forced downgrade of six in python 3.8 crashes pip in venv"
My virtual env is using python 3.8
When I install PyVimeo, six if forcefully downgraded from six 1.14.0 to six 1.10.0. This breaks the entire venv and pip stops working throwing the following error.
[code]

[2020-07-09 20:29] jaylinski opened #161 "Push version 1.1.0 to PyPI"
Hi @muglug, sorry for pinging you again, but it would be nice if you could push the new version (1.1.0) to PyPI (https://pypi.org/project/PyVimeo/).

As requested in:
* https://github.com/vimeo/vimeo.py/pull/146#issuecomment-632354585
* https://github.com/vimeo/vimeo.py/pull/146#issuecomment-636715180

I think this would also resolve a lot of those new issues (#160, #156, #155).

[2020-07-13 19:29] fisherinnovation commented on #161
@jaylinski Thanks for reporting. This should now be resolved - https://pypi.org/manage/project/PyVimeo/release/1.1.0/

Let me know if you are still encountering issues.

[2020-07-13 19:29] #161 closed

[2020-07-14 13:45] fisherinnovation commented on #160
Can you try restesting with the latest version? https://pypi.org/project/PyVimeo/#history

[2020-07-14 13:45] fisherinnovation commented on #156
Can you please retest with the latest version? https://pypi.org/project/PyVimeo/#history

[2020-07-15 15:01] jaylinski commented on #155
Vimeo uses the requests lib, which accepts tuples and integers:

https://2.python-requests.org/en/master/user/advanced/#timeouts

Maybe try the latest version, which adds Python 3 compatibility.

[2020-07-27 17:09] jaylinski commented on #151
I don't think Vimeo will do this, since they rely on external CDNs to store their videos.

You already have a permanent link: `/video/<video_id>`
The only thing you have to do is to resolve the link on-demand with the API endpoint you mentioned. Advantage: you can choose to either play a HLS stream or a MP4 file, even if the video-URL is already stored in your database.

[2020-07-27 17:10] jaylinski commented on #149
This should be resolved in the latest version.

[2020-07-27 17:12] fisherinnovation commented on #149
Agreed, please comment if that is not the case.

[2020-07-27 17:12] #149 closed

[2020-07-27 17:13] fisherinnovation commented on #151
@jaylinski is correct, these values will not be static. Best to make the call to get the URL when you need it.

[2020-07-27 17:13] #151 closed

[2020-07-27 17:15] jaylinski commented on #159
Have you tried the other two endpoints?

* https://api.vimeo.com/users/{user_id}/live_events
* https://api.vimeo.com/live_events
* https://api.vimeo.com/me/live_events

[2020-07-27 17:18] jaylinski commented on #158
I guess you already tried the proposed solutions in https://stackoverflow.com/questions/23013220/max-retries-exceeded-with-url-in-requests?

[2020-07-27 17:20] jaylinski commented on #157
Version 1.1.0 uses an update `tuspy` version. Maybe this helps.

[2020-07-27 17:22] jaylinski commented on #150
Version 1.1.0 uses an updated `tuspy` package. It should fix your issue.

[2020-07-27 17:23] jaylinski commented on #154
Does this still happen with the latest version?

[2020-07-28 04:59] phanuelayuka commented on #160
Works fine now.

[2020-07-28 04:59] #160 closed

[2020-07-28 15:31] fisherinnovation commented on #150
Please comment pending you are still encountering this issue. As mentioned this should be fixed in the latest version.

[2020-07-28 15:31] #150 closed

[2020-07-28 15:33] fisherinnovation commented on #157
@typefox09 Are you still experiencing this in the latest version?

[2020-07-28 20:21] typefox09 commented on #157
Hi, I changed my implementation to having the video uploaded on the client
side with the tus js package. Now it's only effected by the clients
internet speed. Thank you for following up on this. Is there anyway to
improve the speed further from what I am currently doing?

On Wed, 29 Jul. 2020, 01:33 Matt Fisher, <notifications@github.com> wrote:

[2020-08-07 06:57] kartikdanidhariya opened #163 "I try to upload a video got error "ssl.SSLCertVerificationError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed""
[code]

[2020-08-09 21:06] jaylinski commented on #163
Your logs indicate that you are running Python on macOS. A quick Google search for your issue turned up the following solution:

https://stackoverflow.com/questions/52805115/certificate-verify-failed-unable-to-get-local-issuer-certificate

Did you try this?

[2020-09-23 07:38] 8oris opened #164 "Retrieving channel's metadatas"
Hey there,

How retrieving channel's metadatas with this package?
I tryed:
[code]

But I got a 404. :'(

Thanks.

Regards.

[2020-09-23 07:55] 8oris commented on #164
Ok, my bad. I should user '/users/' instead of channel. So:
`vimeo_api = vimeo.VimeoClient(
    token="...",
    key="....",
    secret="...")
    vimeo_api.get('/users/' + vimeo_id, params={"fields": "uri,name,bio,created_time,websites,metadata.connections.followers.total,metadata.connections.videos.total"})`

It works like a charm.
Sorry for my n00b's question.

[2020-09-23 07:55] #164 closed

[2020-09-24 05:44] phanuelayuka opened #165 "Video Subdomain embed not working"
Allow me to cross post here since the Vimeo support take days to reply yet we are on the business plan.

We have a couple of subdomains e.g dn1.example.com, dn2.example.com and example.com as the main domain. In the video privacy settings we have added the allow embed to anywhere --- we changed to this after adding the subdomains to the video privacy settings and things were still not working. Vid

[2020-10-27 16:41] jaylinski commented on #165
Has this anything to do with this python package?

[2020-11-25 13:57] mgkyawzayya commented on #156
Still error.
PyVimeo=1.1.0
urllib3    1.26.2
chardet    3.0.4
requests   2.25.0
tuspy      0.2.4

[2020-12-02 03:36] Maikhaa commented on #151
These URLs are meant not to be static. You can either make a call every time you want to use them or get access to static URLs by getting one of their paid accounts https://vimeo.zendesk.com/hc/en-us/articles/224823567-Direct-links-to-video-files.

[2020-12-31 00:04] gabemagee-ev opened #166 "Any plans to update the requests version"
When installing via pip, I got the notification that this package requires requests==0.13.1, but you have requests 2.25.1 which is incompatible. Is there any plans to update the requests version in the code soon?

[2021-01-17 00:42] myrrhai opened #167 "Come Watch @Myrrhai on Vimeo.com"
Leave a comment on my Video(s) on Vimeo about GitHub #twitch #myrrhai #vimeo

[2021-01-17 00:44] #167 closed

[2021-01-29 15:44] thewh1teagle commented on #100
Hi
I added this to the libary which `vimeo.py` using to upload the videos.. hope they will approve my pull request :)
After they will approve it to their repo I will Add the option to use it directly from `vimeo.py`
https://github.com/tus/tus-py-client/pull/41

[2021-02-06 22:14] jaylinski commented on #166
Actually it require `requests>=2.4.0` in the latest version: https://github.com/vimeo/vimeo.py/blob/1.1.0/setup.py#L13

Which version are you using?

[2021-02-23 06:35] BichengWang commented on #143
remove this and install manually in win10 work for me

[2021-03-24 18:54] dumbeau opened #170 "Transcode status is 'complete' while upload status is 'in_progress'"
Here is my python console and I'm refreshing the status immediately after upload:

[code]

Having the transcode status set to 'complete' while the video is uploading seems misleading.  I would expect something like 'queued', 'waiting', or even 'in_progress' for the transcode status while the video is uploading.

[2021-03-24 19:22] tommypenner commented on #170
Hi @dumbeau this is a known issue on the Vimeo backend, with `transcode.status` returning `complete` prematurely.

As a workaround, check the `is_playable` field from the response instead. This will return false if there are no playable video files yet created, and true when at least one transcode has completed.

[2021-05-05 16:15] marcelcs opened #171 "Failed upload using Device Auth token"
Hello! I'm trying to put together a simple Proof of Concept of an application that eventually posts the user's video to their own account.

In my own account I created an App. I then followed steps described in https://developer.vimeo.com/api/authentication to acquire the Device Code Grant kind of Auth Token from a second account. I managed to get said token with no problem.

However, I'm having t

[2021-05-05 16:22] jaylinski commented on #171
When you are receiving the OAuth response you should see your granted scopes:

https://developer.vimeo.com/api/authentication#using-the-device-code-grant-step-5

Does it contain the `upload` grant?

[2021-05-05 16:24] tommypenner commented on #171
Hi @marcelcs, that app is only approved for uploading to its own Vimeo account. The app cannot be used to upload videos to another user's account.

To request permission, reach out to Vimeo Support here: https://vimeo.com/help/contact

(Also, when you receive a ticket number, provide that ticket number here and Vimeo Staff can expedite the request)

[2021-05-05 16:25] marcelcs commented on #171
@jaylinski  From the response to `/oauth/device/authorize`
`"scope": "upload private public",`

[2021-05-05 17:02] marcelcs commented on #171
@tommypenner thank you! This is the ticket number: `#7865491`

[2021-05-05 17:16] #171 closed

[2021-05-13 10:04] Bezarius commented on #154
pyvimeo doesn't support python 2.7

[2021-05-14 22:21] frederickjh commented on #156
`pip3 uninstall PyVimeo`
followed by
`pip3 install PyVimeo`
fixed this issue for me.

[2021-05-18 15:21] jvlessa opened #172 "error importing vimeo: Python 3"
Exception has occurred: ModuleNotFoundError
No module named 'urlparse'

It seems that this library name was changed on Python 3

[2021-05-18 15:43] mteece commented on #172
Seeing the same issue on Python 3:

    Exception has occurred: ModuleNotFoundError
    No module named 'urlparse'`

[2021-05-25 17:53] MelissaKR opened #173 "How to add chapters to videos?"
Hi,

I'm trying to add chapters to an uploaded video using the Python SDK. I don't get any errors but the chapters don't show up either. This is how I'm doing it:

[code]
and the vtt file looks something like this:

[code]

I'm wondering if I'm not doing it right or the functionality is not supported.

[2021-07-17 19:21] RButtsCHQ commented on #172
Did you do `pip install vimeo` instead of `pip install PyVimeo`? They are different packages, and the vimeo package doesn't support python 3.

[2021-07-23 13:03] learningtour commented on #172
I have allmost the same problem. Both pip installed vimeo and PyVimeo. I get "ImportError: No module named vimeo" in Python 2 and "ModuleNotFoundError: No module named 'vimeo'" in Python 3.

[2021-08-11 13:53] avianheit07 commented on #159
I've encountered the same issue, have you found the fix to this one yet?
Even with the 'Try it out' in the API doesn't work.

[2021-08-13 09:37] avianheit07 commented on #159
@ColvrayC I think the issue we encountered is due to the plan of the account we are using. I used the premium account, and will be switching to enterprise.

[2021-08-26 20:40] gringopachingo opened #174 "Filename is set to "Unknown file name" when using v.upload()"
When looking at the uploaded versions via the API or website, the filename is "Unknown file name", while the description and name are set correctly.  I have tried the following both with and without 'file_name'.

[code]
For a couple of months, I was able to PATCH an updated version filename, but that does not appear to work anymore.

[code]

I can set the file_name for subsequent versions, just no

[2021-09-21 14:38] ecandino commented on #172
@learningtour make sure your python file is not called vimeo.py.

[2021-10-21 16:02] #159 closed

[2021-10-21 16:06] #165 closed

[2021-12-12 02:44] iamdamosuzuki opened #175 "what is the proper format for uploading a video with a password?"
Using the following format I'm able to set the privacy to password, but the password is left blank or non-functioning in some way:

[code]

Is this format correct? If not, what should it be?

[2021-12-13 21:16] pointoflife14 commented on #109
I have this same problem as well! Apparently "fixing it shortly" takes 4 years?!? Still no fix! I really don't want to use YouTube, but have no choice now! Geez

[2021-12-13 21:30] erunion commented on #109
@pointoflife14 Sorry to hear that. I no longer work at Vimeo, but if you reach out to their support through the normal channels someone there should hopefully be able to help you out.

[2021-12-15 23:04] KalobTaulien commented on #172
This works in Python 3 now. If it doesn't, it's probably because you're using a file or local folder called `vimeo` - which would be a naming conflict.

[2021-12-15 23:41] KalobTaulien commented on #148
It does not, apparently. But I wrote this quickly and it works as far as I can tell.

[code]

[2022-01-06 20:26] KalobTaulien opened #176 "Here's a package for additional API support"
**Note:** This is not an issue.

Since this repo seemed to be unmaintained for at least a couple years now, we (@Arbington) needed to write some API wrapper code to work with tens of thousands of videos.

If you need additional API support in Python, come check out **[python-vimeo](https://github.com/arbington/python-vimeo)**. It includes _this_  package (PyVimeo) - it's just an additional layer o

[2022-01-06 20:55] aaronm67 commented on #176
This library is officially supported by Vimeo.

[2022-01-06 20:55] #176 closed

[2022-01-12 16:44] KalobTaulien commented on #176
Yes, it is, and it's missing about 99% of the API support provided by Vimeo. The docs and README even references Python 2. This repo needs to be updated but the last commit was.. 2 years ago?

[2022-01-12 16:47] KalobTaulien commented on #176
Yes it is, and it's insanely outdated and lacking about 99% of the functionality that Vimeo's API supports.

Thanks for editing my original comment too, that was a nice touch. Nothing like blocking other developers from simple api support. Looking forward to seeing this comment edited or removed entirely.

[2022-01-12 16:49] aaronm67 commented on #176
There are instructions on the developer site on having third-party libraries approved, this isn't the appropriate place to promote unreviewed libraries.

[2022-01-13 14:22] aaronm67 commented on #148
vimeo.py is a wrapper around requests, it supports the full API.

Ex: `v.post('/me/videos', data = { 'upload': { 'approach': 'pull', ... }`

[2022-01-13 14:22] #148 closed

[2022-01-26 14:34] Rishav-hub opened #177 "URGENT!!!.....How to create a folder inside folder ?"
I am using the original Vimeo API but am not able to create a folder inside a folder.
image
![image](https://user-images.githubusercontent.com/57321948/151182323-1f0147a8-430c-4f35-833b-609e6fdf39a1.png)

The response is 405!!. Any help. Can you suggest how to do that?

[2022-01-26 14:38] entbappy opened #178 "How to create subfolder/nasted-folder inside parent folder with Vimeo API using python?"
I am trying vimeo API using python. I succeeded in creating and listing vimeo folder with vimeo API in just root location.

However, I cannot find how to create subfolders inside a parent folder in this API. I have read official documents but I could not find any related APIs. How to create subfolders/nasted folders in parent folders in vimeo using python?

![WhatsApp Image 2022-01-26 at 8 32 43 P

[2022-01-26 14:47] aaronm67 commented on #178
You can use a "parent_folder_uri" parameter on /me/projects.

parent_folder_uri = '/users/12345/projects/6789'

[2022-01-26 15:18] aaronm67 commented on #177
You can use a "parent_folder_uri" parameter on /me/projects.

So

POST /me/projects' data = { parent_folder_uri = '/users/12345/projects/6789', 'name' = 'NLP', etc }

[2022-01-26 15:19] aaronm67 commented on #178
Duplicate of #177, moving discussion there.

[2022-01-26 15:19] #178 closed

[2022-01-26 15:26] Rishav-hub commented on #177
Thank Kyou @aaronm67 I just spent 2 hrs on this silly thing

[2022-01-26 15:26] #177 closed

[2022-01-26 15:26] entbappy commented on #178
Thank you so much ,, It worked😀👏

[2022-03-02 10:33] saurabhrai-o opened #179 "Location vs location"
Hi, your library is helping lot of us. There a new problem recent introduced by Vimeo explained below.

There is both spelling of location under json response of endUploadVideo. Can we make this small correction on our code base.

I can create a pull request for the same. If you would like. Attached both version of response in this.

Thanks for all the help in advance.

![Location L](https://user-

[2022-03-02 10:41] #179 closed

[2022-06-03 10:52] Quohen-Leth opened #181 ""You have been banned" error when trying to post comment with token of another user."
Hi! I'm trying to give users possibility to post a comments on Vimeo video using OAuth.
Here is my code:
[code]

[code]

[code]

[code]

[code]

Everithing goes well, except the last step.
When client with its `config["access_token"]`, registered previously for "my app", tries to post a comment with token of another user `access_token` it got "You have been banned" error.

How to use token of end

[2022-06-03 11:50] #181 closed

[2022-06-03 11:51] aaronm67 commented on #181
The "You have been banned" message is incorrect here.

The issue you're receiving is the token must have the "interact" scope to post comments.

[2022-06-03 11:58] Quohen-Leth commented on #181
Thank You. I didn't set scopes correctly.

[2022-07-05 18:59] div927 commented on #156
Any solution?, because still facing this issue

[2022-07-29 07:09] miguelmorin commented on #172
I upgraded my Python version to Python 3.9 and get the same error. I don't have a `vimeo` local file or folder. I installed Python3 with:

[code]

Vimeo with:

[code]

and when I run it, I see:

[code]

If I "monkey-patch" it by changing that line to:

[code]

then I see another error:

[code]

When I installed it with Python3.10, I got another error, which made me downgrade to 3.9.

When I instal

[2022-07-31 11:35] ruppen opened #182 "NameError: name 'uri' is not defined"
Hy I installed the SDK with  "pip install PyVimeo" which didn't output any errors.
But when I run following code I get a NameError: name 'uri' is not defined

[code]

response = client.get(uri)
print(response.json())

Output:
Traceback (most recent call last):
  File "/home/user/Development/project/playlistmovervimeo.py", line 9, in <module>
    response = client.get(uri)
NameError: name 'uri' is

[2022-08-01 19:56] hedyyytang commented on #182
Hi @ruppen , what is the URI you were trying to make the call for?

[2022-08-01 21:45] ruppen commented on #182
I might just have figured it out.
URI is supposed to be replaced by https://api.vimeo.com/tutorial or something like that. Am I right?

That was not so clear by this guide here: https://developer.vimeo.com/api/guides/start
Sory I am still very new to PYTHON and APIs
Thanks

[2022-08-02 09:19] #182 closed

[2022-09-17 00:27] klarrieu opened #183 "Uploading videos with vertical bar "|" character in video name/description"
Hello,

I am trying to use PyVimeo to upload videos with a vertical bar "|" character in the video name and/or description. However, upon uploading, this character is removed from the name/description of the uploaded video. I am not sure if I need to encode the name/description strings or something like that but I have tried various encodings without getting it to work. Any help would be greatly a

[2022-09-19 17:12] klarrieu commented on #183
I ended up figuring out that I can send a patch request to fix the name after uploading, but this is an issue with the PyVimeo upload method.

[2022-11-11 15:39] amrutadotorg commented on #173
Hi it looks like there is an API for that [https://developer.vimeo.com/api/reference/videos#create_chapter](https://developer.vimeo.com/api/reference/videos#create_chapter)
example:
`v.post('/videos/12345/chapters', data={"timecode": 0, "title":"test"})`